[2015-03-25 03:29] devinivy commented on #841
This does sound like it requires some adapter-specific knowledge.  I highly suggest asking the question in [sails-mongo](https://github.com/balderdashy/sails-mongo/issues)!  Also might be worth checking-out http://stackoverflow.com/questions/9312067/mongodb-queries-with-null-value .  Also, keep in mind that you can use the adapter's `native` method.

I think this is just about as much help as the

[2015-03-25 03:29] #841 closed

[2015-03-25 03:40] devinivy commented on #699
@wgreenberg let me know if PR #889 fixes this issue for you.

[2015-03-25 04:56] dylanbathurst commented on #892
I just ran a couple test to see if I could update one document to see if the changes were reflected in the embedded document (and vice versa) but no luck. Only the document I was directly updating would change it's values in the db. the linked embedded document would not update.

[2015-03-25 11:05] devinivy commented on #892
Thanks for testing this out!  Very bizarre :/  Do you mind asking about this over on the [sails-mongo](https://github.com/balderdashy/sails-mongo/issues) adapter and referencing back to this issue?

[2015-03-25 11:21] dmarcelino commented on #857
Closing this for now, please reopen if my answer doesn't fix the issue.

[2015-03-25 11:21] #857 closed

[2015-03-25 11:27] dmarcelino commented on #877
@devinivy, this is a part of the code I'm not yet familiar with... I would be more comfortable with this if there are was an automated test. Is it a hard scenario to test?

[2015-03-25 11:38] dmarcelino commented on #328
Closing this for now as it seems something that can only be implemented at the adapter level. Maybe raise this issue against a specific adapter project? Please reopen if you think otherwise.

[2015-03-25 11:38] #328 closed

[2015-03-25 11:45] Dallas62 commented on #877
@dmarcelino You can reproduce it with https://github.com/Dallas62/waterline-test-corruption but I don't think you can easily implement a test in the PR

[2015-03-25 11:54] devinivy commented on #877
I should be able to write a test for this.  I'll give it a whirl, at least!

[2015-03-25 12:09] dmarcelino opened #897 "Add adapter tests to waterline core"
Add adapter tests to waterline core to ensure changes in waterline don't break adapters.

Tasks:
- [x] add a set of adapter tests to waterline core suite of tests (always exit 0 for now): #896;
- [x] Make sure waterline-adapter-tests is using correct WL dependency: #914;
- Fix sails-memory, currently it's breaking a couple of tests, check [here](https://travis-ci.org/dmarcelino/waterline-adapter-t

[2015-03-25 15:17] dmarcelino commented on #308
Adding what @particlebanana said in [sails-mongo#108](https://github.com/balderdashy/sails-mongo/issues/108#issuecomment-41731379) so we can close duplicates and move conversation about this topic to this thread:

[2015-03-25 15:27] KeKs0r commented on #572
+1

[2015-03-25 18:16] grd2345 commented on #875
the issue belongs to sails-mongo.
I had to use mongo native to get this to work.
here is how i got this to work using mongo native.

[code]

[2015-03-25 19:34] #875 closed

[2015-03-25 20:13] pavel-anisimov commented on #256
+1

[2015-03-25 20:15] dmarcelino commented on #256
Please continue the discussion in #308.

[2015-03-25 20:21] pavel-anisimov commented on #308
+1. Something like that would be just perfect.
[code]

[2015-03-25 22:13] mgenev commented on #862
@particlebanana
I'm interested in helping with the mongo adapter

[2015-03-25 23:55] cspotcode commented on #867
Just wanted to update this issue to say I don't realistically have time to submit a patch.  Hopefully someone else will get around to it.

[2015-03-26 00:11] cspotcode opened #899 "Bug: `contains: "%"` always matches every row, but it shouldn't"
This code returns all rows, but it shouldn't:
[code]

I'm using MySQL.  EDIT: I can also confirm this behavior using blueprints and hitting the following URL:
`.../api/user?where={%22name%22:{%22contains%22:%22%25%22}}`

Possibly related to #802.

This function calls `normalize.likeCriteria`.  It seems to have been written in a hurry since the usage message is for `startsWith`, not `contains`.  Pr

[2015-03-26 02:07] devinivy commented on #317
Any word here? @anasyb do you think your fix is solid enough to submit a PR?

[2015-03-26 02:53] anasyb commented on #317
@devinivy I had it running for a while with that line commented out... no notice of anything going wrong. Before a PR I suppose we need an understanding of what that's line purpose in life is/was.

Can someone run the tests with that line commented and post here which ones fail (if any)?

[2015-03-26 03:30] devinivy commented on #317
I wonder if `showJoins` is possibly not being accounted for on that line.

If someone could even write a failing test [here](https://github.com/balderdashy/waterline/blob/4653f8a18016d2bcde9a70c90dd63a7c69381935/test/unit/model/toObject.js), that would be awesome.

[2015-03-26 10:42] devinivy commented on #867
See https://github.com/balderdashy/waterline/commit/57afcc4de4689db813fec83d810250c4e0bea982#comments for info on that breaking commit from its author.

[2015-03-26 11:21] svenvarkel commented on #308
Just a thought that I had. It came 'cause I'm working with SQL and noSQL solutions in parallel.
In context of SQL (MySQL) populate() would just mean to INNER JOIN another table by foreign keys. In context of noSQL I'm not sure what it should be exactly.

[2015-03-26 11:27] dmarcelino commented on #899
Hi @cspotcode, I'm not sure this is a waterline core issue, it looks more like a [waterline-sequel](https://github.com/balderdashy/waterline-sequel) (which is used by sails-mysql) issue. Check:
https://github.com/balderdashy/waterline-sequel/blob/master/sequel/lib/criteriaProcessor.js#L623-L645

@tjwebb, what do you think?

[2015-03-26 17:05] particlebanana commented on #862
Thanks @mgenev just added you!

[2015-03-26 17:06] dmarcelino commented on #862
Good stuff :+1:

[2015-03-26 17:19] mgenev commented on #862
Thank you @particlebanana! Exciting.

I think the latest PR you merged into sails-mongo fixes a bug I ran into with date range queries. What is the procedure about pushing to NPM?

[2015-03-26 18:10] devinivy commented on #862
Typically just email the lead maintainer (@particlebanana for WL).  It sounds like waterline will have an npm publish occur very soon.

[2015-03-26 19:58] particlebanana commented on #862
@mgenev just published a new version

[2015-03-26 20:28] cspotcode commented on #899
In that case, what is the purpose of the waterline code I found?  Is it not being used?  I unfortunately don't have time to do more debugging or write a fix.  This bug does affect my work, so I will be grateful for a fix to be implemented.

Thanks in advance.

[2015-03-26 20:32] dmarcelino commented on #899
I honestly can't tell as I am myself getting acquainted with it. But I don't think waterline core would be able to do this escaping as it supports all kind adapters, of which many are not SQL.

[2015-03-26 20:38] mgenev commented on #862
@particlebanana awesome! I verified that date range queries now work

[2015-03-26 21:00] randallmeeker commented on #899
I'm not sure I see the error

```Model.find().where({name: {contains: "%"}})``` this based on looking it it would generate the follow sql statement ```select * where name like '%'```

This is valid SQL and does return all records. It may be not be ideal, but its valid.

[2015-03-26 21:46] dmarcelino opened #900 "Update references to the OrientDB adapter"
Hi,

The developers of existing OrientDB adapters agreed to collaborate on a single adapter and as such
[sails-orientdb](https://github.com/appscot/sails-orientdb) is currently the *de facto* OrientDB adapter. Please update all references in the docs to reflect this and save users the confusion (and headache).

Pull requests:
* [x] #901
* [x] balderdashy/sails#2789
* [x] balderdashy/sails-docs#442

[2015-03-26 22:23] cspotcode commented on #899
Yeah, I know it's valid SQL, but is it the valid & intended behavior for waterline's "contains" query?  Waterline is a multi-DB ORM that claims you can use the same queries with any supported DB, without modification.  If I say 'contains': '100%', what does that mean?  Does it mean I'm looking for an attribute containing the string "100%"?  Will it behave the same way in MySQL, sails-disk, and Mon

[2015-03-26 22:53] randallmeeker commented on #899
i get you, my bad

```Model.find().where({name: {contains: "%"}})``` should be generating the following SQL then ```select * where name like '%/%%'``` where it escapes the percent and encapsulates it. Intead its not escaping the reserved characters and giving us ```like %%%```

That code you found https://github.com/balderdashy/waterline/blob/4653f8a18016d2bcde9a70c90dd63a7c69381935/lib/waterline/

[2015-03-26 23:41] dmarcelino commented on #869
@ckken what is the status of this? Is there still an issue? Your description is not very clear.

[2015-03-26 23:44] dmarcelino commented on #858
@devinivy, can we close this one now?

[2015-03-27 00:03] dmarcelino commented on #686
Closing this as a duplicate of #169, please reopen if you feel otherwise.

[2015-03-27 00:03] #686 closed

[2015-03-27 00:36] dmarcelino commented on #900
Thanks @jub3i!

[2015-03-27 00:52] dmarcelino commented on #169
PR #903 fixes this.

[2015-03-27 01:19] jub3i commented on #900
glad to be of service @dmarcelino , keep up the good work :)

[2015-03-27 03:13] mkeremguc opened #904 "orm hook takes too long to load when using sails-mongo"
i have ~150 models.
[code]
`sails lift --silly` logs the last model as `silly: Registering model `user` in Waterline (ORM)` and waits there about 6-7 minutes using 100% CPU then goes to next hook (grunt) and finishes lifting.

what i tried so far:
1. disable grunt hook: same
2. disable views etc: same
3. sails-disk as adapter: no problems there and lifts fast enough
4. sails-postgresql as adapter:

[2015-03-27 03:20] #858 closed

[2015-03-27 03:26] particlebanana commented on #904
Do you have lots of data in the mongo database? By default it has an `alter` migration set. With mongo just set `migrate: safe` in `config/models.js` if you are using Sails.

[2015-03-27 03:30] mkeremguc commented on #904
no i don't have lots of data it is blank database. also it is set `migrate: safe` in config/models.js

[2015-03-27 11:13] dmarcelino commented on #862
@particlebanana, @rwoverdijk has also expressed that he would like to contribute to waterline (and blueprints). He already contributed to waterline-sequel.

[2015-03-27 15:24] mkeremguc commented on #904
some debug and i found where it takes time:
node_modules/sails-mongo/lib/collection.js line 358: `collectionDef = _.cloneDeep(definition);`
in _parseDefinition function, it deep clones the definition object which is a circular structure that has `waterline` attribute that has `collections` and `schema` attributes. that `definition` is just a key of waterline.collections attribute itself. so deep c

[2015-03-27 15:34] dmarcelino commented on #904
Thanks for investigating @mkeremguc! I've moved this to balderdashy/sails-mongo#253, please add any other further comments there!

[2015-03-27 15:34] #904 closed

[2015-03-27 16:12] cspotcode commented on #899
Tiny nitpick, just to clarify: the generated SQL should use a backslash instead of a forward slash, so `select * where name like '%\%%'`

In MySQL LIKE queries the underscore also has a special meaning, so it should be replaced with `\_`.

[2015-03-27 16:14] randallmeeker commented on #899
@cspotcode yup, my bad.

[2015-03-27 17:42] anasyb commented on #317
Test case should be fairly simple, test if an association that has some items in it (therefore .length > 0) has same .length before and after calling .toObject(). Here is an example:

[code]

Sorry didn't have time as yet to put that into a test file... let me know if you can do that :P

[2015-03-27 22:55] mkeremguc commented on #644
yes. https://github.com/balderdashy/waterline/issues/533

[2015-03-27 23:26] tjwebb commented on #900
merged in balderdashy/sails

[2015-03-27 23:27] dmarcelino commented on #900
Thanks @tjwebb! :D

[2015-03-27 23:27] #900 closed

[2015-03-28 17:48] anasyb commented on #317
@devinivy interesting.. seems like there is a [test case](https://github.com/balderdashy/waterline/blob/master/test/unit/model/toObject.js#L53) to make sure the bug is there :D maybe we're missing something?!

If we're not missing something: assuming ```new model({ name: 'foobar' });``` is creating the association arrays (otherwise the existing test cases doesn't make sense to me?!) I would change

[2015-03-28 18:04] dmarcelino commented on #317
One possible reason for removing the associations (I'm speculating) is to avoid circular references before using `.toJSON()`. If by any chance that is the reason we need to *decycle* the object. It would be good to hear from the guys who actually wrote that code about this.

[2015-03-28 18:15] anasyb commented on #317
Interesting... though on a second thought I can't see how cycles can emerge given that the [if statement](https://github.com/balderdashy/waterline/blob/master/lib/waterline/model/lib/defaultMethods/toObject.js#L145) is doing the opposite: it's returning when the join wasn't used (which means the IDs will stay mere strings)

[2015-03-29 00:33] anasyb commented on #532
isn't this related to (and would be closed by) the ```toObject``` issue https://github.com/balderdashy/waterline/issues/317#issuecomment-87274671

[2015-03-29 00:38] anasyb commented on #662
Indeed there is an issue for associations, and its in the toObject methods of waterline. You might want to have a look at some workarounds towards the end of the thread here: https://github.com/balderdashy/waterline/issues/317#issuecomment-87274671

[2015-03-29 00:51] anasyb opened #907 "(bug) 1-N association serious data inconsistency"
With mongo, assume we have a user:
[code]
and obviously post:
[code]
Now let's create a user first:
[code]
...and then create a post:
[code]

Very strangely:
[code]
So unless one calls populate, the posts (or their IDs) aren't there.

Checking the mongo db, it seems collection user wasn't updated with the post.... the posts property doesn't exist there (not sure if this is the correct behaviour ba

[2015-03-29 03:15] anasyb opened #908 "erroring when assoc is set to empty array"
With mongo, assume we have a user:
[code]
and obviously post:
[code]
Now let's create a user:
[code]
This gives an unknown error:
[code]
This is totally unexpected since the default behavior of waterline is to return an empty array for associations. This means that if I retrieve a record with waterline and try to re-create it with the same waterline... it simply errors.

Worth noting that the reco

[2015-03-29 04:21] dtoubelis opened #909 "Autoincrement property is too mysql specific"
I'm working on a `waterline-cassandra` adapter at https://github.com/dtoubelis/sails-cassandra and it looks to me that `autoIncrement` property is too restrictive. I think the `autoIncrement` mechanism is too MySQL specific. Oracle and Postgres can use sequences, another option is using UUID. The problem is that `autoIncrement` attribute also enforces the field type to `integer`, however this is n

[2015-03-29 07:42] sfabriece opened #910 "How does one mock a waterline model in tests?"

[2015-03-29 10:38] dmarcelino commented on #910
Hi @sfabriece, depending on what you want to do you should be able to do something like:
[code]
Or am I misunderstanding your question?

[2015-03-29 10:46] dmarcelino commented on #909
Hi @dtoubelis, regarding the attribute `id` specifically you can configure your adapter to have `pkFormat` of type `string` ([example](https://github.com/balderdashy/sails-mongo/blob/master/lib/adapter.js#L22)). This is only true for `id` (or for whatever attribute you set as primaryKey). I think your suggestions make a lot of sense. :+1:

[2015-03-29 14:32] devinivy commented on #909
I like it!  This would apply nicely to the sails-dynamodb adapter too, among others.  What do you think of adding this to the 0.11 milestone, @particlebanana ?

[2015-03-29 15:02] devinivy commented on #907
On most adapters I would say this is working as expected.  You only get associated records if you ask for them using `populate`.  That is, responding to this;

Yes, that's typically correct.  There are some people working on embedded associations for the mongo adapter, so that could change.  But on most adapters (and I assume the same for mongo?) the `id`s only live on the 1 side.  It's the adapte

[2015-03-29 15:06] devinivy commented on #908
Sounds like a bug!  I will try to take a look at this today.  What version of waterline are you using?

[2015-03-29 17:46] anasyb commented on #907
Thanks @devinivy for the promptness :)

Indeed it is expected that you don't get the **records** unless you call populate, that's the purpose of life for populate() after all ;) But you should be getting an array of unpopulated IDs should you not call populate.. in particular you should never get a deceiving **empty** array in place of the IDs array!

Yes after running that line: 1. am finding an

[2015-03-29 17:51] anasyb commented on #908
Am on waterline 0.10.18

[2015-03-29 18:55] dtoubelis commented on #909
@dmarcelino: I actually have `pkFormat` set to `string` in my adapter but it seems that `autoIncrement` supercedes this definition and forces it to `integer` anyway.

[2015-03-29 19:04] anasyb opened #911 "association data corruption"
This issue is tough one. I was creating a function to setup some demo data, and was testing things before converting it to async.series... when I stumbled over big data corruption:
First I setup main user, and then in another ```user.create``` setup some more users, and in a third post.create and post.update added posts to all of them... seems like the code for adding the posts was running while t

[2015-03-29 19:14] dmarcelino commented on #662
Hi @arcseldon, regarding:

There is already another request for that in #354.

As @anasyb mentioned, the issue with `.toJSON()` seems to be the same in #317.

Please continue this discussion there, closing this as duplicate. Reopen if you feel otherwise.

[2015-03-29 19:14] #662 closed

[2015-03-29 19:38] dmarcelino commented on #911
@anasyb, can you provide a failing test so this can be reproduced?

[2015-03-29 19:44] anasyb commented on #911
Thanks! Yes I wanted to... but this is a tough one to disentangle from particulars of my project... let me see what I can do..

[2015-03-29 19:45] dmarcelino commented on #911
Thank you.

[2015-03-29 20:20] dmarcelino commented on #887
PR #893 has been merged, the only thing standing is changing the default migration.

[2015-03-29 20:38] dmarcelino commented on #652
Given this can be done with [lifecycle callbacks](https://github.com/balderdashy/waterline-docs/blob/master/models.md#lifecycle-callbacks), I'm closing this for now.

[2015-03-29 20:38] #652 closed

[2015-03-29 20:40] anasyb opened #912 "(bug) N-N assoc don't sync"
Somehow related to https://github.com/balderdashy/waterline/issues/907# but this time with many to many. I have to manually update both sides in order for them to stay in sync:

[code]

Now in action:
[code]

With this N-N issue, https://github.com/balderdashy/waterline/issues/911, https://github.com/balderdashy/waterline/issues/907, https://github.com/balderdashy/waterline/issues/908 in less than

[2015-03-29 20:58] particlebanana commented on #912
@anasyb do you have anything special going on with the `id` fields on your models? In the example above it works for me if I use the default mongo id's that get generated on the model.

[2015-03-29 21:11] anasyb commented on #912
Nothing special, though I am specifying exactly what the id is. Here exactly how my demo data code looks like (i removed other associations that are going on):

[code]

[2015-03-29 21:26] particlebanana commented on #912
Hmm not sure how you would be getting `members` back in this line without a populate:

[code]

Are your models different than the ones posted above? If you are getting data back there the associations aren't setup correctly and it's doing a sort of embedded association that isn't supported.

Running this script works for me on the latest sails-mongo and waterline: https://gist.github.com/particleb

[2015-03-29 21:39] anasyb commented on #912
Thanks for the promptness!
- No, association definitions are copy paste from my model files and are defined exactly like in your link.
- In that line I am not getting the full records, just the array of pk. And after running the WITHOUT block I also get the array of pk when querying User as mentioned above.
- I think we have different definitions for "works for me"... for me if I am getting an arr

[2015-03-29 22:33] particlebanana commented on #912
When you define a "collection" attribute it's a virtual attribute. When you run the query without populate you should only get back an attribute for `members` with a getter/setter not an array. So anytime you get a value back it's not working as expected, whether thats an empty array or an array with pk values.

If you look in the database none of your `user` or `workgroup` records should have an

[2015-03-30 01:10] anasyb commented on #912
isArray(group.members) is returning true... it's an array of PKs, and also has two special functions: add and remove

Indeed, they shouldn't, yet they do. That's in addition to the presence of ```user_groups__workgroup_members```.

Do you mean *before* calling ```toObject```? The arrays am getting are on the raw record passed to the callback of ```.exec```.

I will remove sails module and npm inst

[2015-03-30 01:30] tjwebb opened #913 "WLError getter for "stack" breaks bluebird"
https://github.com/balderdashy/waterline/blob/master/lib/waterline/error/WLError.js#L146-L148

see https://github.com/petkaantonov/bluebird/issues/552

Bluebird needs to be able to set the `.stack` property on `WLError` but is unable to do so

[2015-03-30 01:37] tjwebb commented on #913
Looks like using `__defineGetter__` is just generally a bad idea anyway: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/__defineGetter__

[2015-03-30 01:37] anasyb commented on #912
Re-installed completely sails, and updated sails-mongo 0.10.5 to 0.10.6.. dropped the whole db and re-run the demo data commands... same issue, and mongo collections are having array of PKs in them.

[2015-03-30 01:47] anasyb commented on #912
@particlebanana I just noticed you're using ```res.json(group);``` in your gist to test... that would result in a call to toObject which would obviously omit the arrays.

Can you instead call ```console.log(group.members);```

[2015-03-30 01:48] particlebanana commented on #912
Do you have anything that's using the native mongo driver or a bootstrap file or another app that would be adding them? I just don't see how you could have the join table and the arrays on the records.

The `toObject` stuff is the same, just leaves in the getter/setter for calling `.add` and `.remove` on the virtual collection. If I look in the db I don't have arrays on those records.

A test to n

[2015-03-30 02:07] anasyb commented on #912
I have nothing of that.
I just created a new project and copy/pasted the code in your gist. Dropped the whole db. Did:
[code]
My workgroup collection ended up like this:

[code]
and sails console looks like this
[code]
uploaded the project [here](https://github.com/anasyb/sails-assoc-test).

[2015-03-30 03:19] particlebanana commented on #912
Ok yeah I see it. Not sure why it's happening but if you force mongo to use the schema it works. So setting `schema: true` in `config/models.js` fixes it up. I created an issue in [sails-mongo](https://github.com/balderdashy/sails-mongo/issues/254). I just added @mgenev as a core contributor to the mongo adapter so he can give it a peek and see whats up.

[2015-03-30 03:19] #912 closed

[2015-03-30 03:50] devinivy commented on #911
Yes, I expect my PR #889 ought to fix this.  It's not so much an issue with high-frequency traffic as it is an issue with multiple association updates in the same tick, as far as I can tell.  The short-term patch is probably to wrap `Model#save` and `Collection#update` calls in `setTimeout`.  I hope my PR will go through soon to fix this issue!  @anasyb do you mind seeing if that PR fixes the issu

[2015-03-30 04:20] devinivy commented on #907
I think this depends on the expected functionality of sails-mongo.  In my experience, most adapters would never return to you an array of ids of associated records–that seems wrong to me.  That said, I agree that it is possibly disingenuous to return an array at all in this case, unless populate has been called.  I think the confusion is related to https://github.com/balderdashy/sails-mongo/issues

[2015-03-30 11:01] #910 closed

[2015-03-30 14:00] #753 closed

[2015-03-30 14:02] dmarcelino commented on #753
Please reopen if you feel the answers weren't adequate.

[2015-03-30 14:02] dmarcelino commented on #784
Please reopen if you feel the answer wasn't adequate.

[2015-03-30 14:02] #784 closed

[2015-03-30 14:05] dmarcelino commented on #886
Please reopen if you feel the answer wasn't adequate.

[2015-03-30 14:05] #886 closed

[2015-03-30 14:24] dmarcelino commented on #899
@cspotcode, @randallmeeker, this has been raised in balderdashy/waterline-sequel#33, please continue the discussion there.

[2015-03-30 14:24] #899 closed

[2015-03-30 14:25] gotmikhail commented on #753
I'll pass this on to `sails-docs`, as the documentation is still incorrect.

[2015-03-30 14:27] dmarcelino commented on #753
Thanks @gotmikhail, a PR would be appreciated :smiley:

[2015-03-30 14:40] randallmeeker opened #915 "Dead Code?"
This started here https://github.com/balderdashy/waterline/issues/899

Is this code necessary or used in Waterline because it seems very SQL specific?

https://github.com/balderdashy/waterline/blob/4653f8a18016d2bcde9a70c90dd63a7c69381935/lib/waterline/query/finders/helpers.js

[2015-03-30 15:10] dmarcelino commented on #915
I don't know, but if it helps, when I run a code coverage report (`npm run coverage`), I see 100% line coverage which means the automated tests are hitting every single line of that code.

PS: I had to add the below code to `waterline/test/adapter/runner.js` to get the full coverage report:
[code]

[2015-03-30 15:24] dmarcelino commented on #292
Changed title to clarify this request. The objective is to add instance methods for manipulating one-to-one and one-to-many associations in consistent way as many-to-many associations. So, 1-1 and 1-* should also support:
[code]

[2015-03-30 15:49] dmarcelino commented on #666
Hi @kai23, I don't think this is supported currently. If you are using sails-mysql or sails-postgresql you should be able to this with `.query()`, which performs a raw SQL query.

[2015-03-30 16:14] anasyb commented on #907
Yes confirmed by particlebanana this is a bug with mongo adapter... those arrays named after the associations are virtual attributes to facilitate add/remove and should never have PKs in them. I think, even after the mongo-related bug is solved, its very confusing and not so consistent: cardinality 1 relations don't have a virtual attribute.

Am closing this now until https://github.com/balderdash

[2015-03-30 16:14] #907 closed

[2015-03-30 16:34] particlebanana commented on #915
Not dead, they are just helpers that call other other functions, `find` and `findOne`. The `%` symbol they add is a valid Waterline query modifier. We could remove them in `0.11` and we should also remove the dynamic finders in `0.11`.

[2015-03-30 16:45] dmarcelino commented on #629
Please reopen if you feel this wasn't answered adequately.

[2015-03-30 16:45] #629 closed

[2015-03-30 16:46] zeluis9 opened #916 "autoIncrement doesn't work on non primary key fields"
I currently do not know if this a design-spec or a bug. But with sails-mysql autoIncrement does not work on non primary fields..

[2015-03-30 17:08] zeluis9 commented on #916
My current workaround (that seems pretty ugly to me):

beforeCreate: function(myModel, next) {
    if(!myModel.id) {
 	    model.count(function(err,num) {
		    if(err){
			    next(err);
		    }
		    myModel.id = num + 1;
	    });
    } else {
	    next();
    }
}

[2015-03-30 17:22] dmarcelino commented on #648
Hi @tibotiber, I don't think there is support for this yet. It would be good to to be able to do something like:
[code]
I'm labelling it as feature request.

@particlebanana, @devinivy, @tjwebb, @randallmeeker, guys what do you think of adding this to v0.11? It seems like something it should be supported.

[2015-03-30 18:06] randallmeeker commented on #648
Is this only with ```AND```, because I use it currently with ```OR``` and it works.

[2015-03-30 18:07] dmarcelino commented on #648
Just `AND`. My example is actually based on the `OR` example.

[2015-03-30 18:27] anasyb commented on #911
@devinivy you're right... I was just able now to re-create it with very low frequency... this is really a terrible bug all my associations got mixed up randomly... hope your PR fixes it, checking it now!
If so will close this one and keep the discussion in #877

[2015-03-30 18:53] randallmeeker commented on #648
Then yes, it should be on .11 !

[2015-03-30 19:02] anasyb commented on #911
@devinivy very unfortunately the PR doesn't solve the issue. I ended up with so many records with association set to something when I never set it. I replaced the ```update.js``` with the one from your PR, and threw some breakpoints to make sure its being called... but no luck.
I didn't wrap my head on the issue of the PR, but just guessing: could it be the case that a similar problem persists in

[2015-03-30 19:13] devinivy commented on #911
The PR is a fix for high-frequency updates used to sync associations.  I can't make that work incorrectly any more.  But there could be another bug kicking around here.  Does it seem like your main issue is with `create`?

[2015-03-30 19:21] devinivy commented on #911
Here's the model created to make the associations during `create`: https://github.com/balderdashy/waterline/blob/e9b618fe0910dd4ffc4a9e4af43a494592c4e9ff/lib/waterline/query/dql/create.js#L225

And here are the associations being created: https://github.com/balderdashy/waterline/blob/e9b618fe0910dd4ffc4a9e4af43a494592c4e9ff/lib/waterline/utils/nestedOperations/create.js

Looks alright to me at fir

[2015-03-30 19:26] dmarcelino commented on #911
@anasyb, @devinivy created a really nice test to reproduce the nested update issue: https://github.com/balderdashy/waterline-adapter-tests/pull/42/files.

Based on that, do you think you can come up with one for the nested create issue? It would make it much easier to find the root cause. Thanks.

[2015-03-30 19:39] anasyb commented on #911
cool...
- I confirm that the PR solves the initial issue I had, namely when I was running assoc updates in parallel. The PR is really awesome and critical, I hope it get merged soon.
- I can't pin point the issue happening with more complex setup involving many create/update... am so much behind schedule so doing lot of catching... but will dig into it as soon as I can

[2015-03-30 20:52] petkaantonov commented on #913
This shouldn't break bluebird as of 2.9.21

[2015-03-30 20:54] devinivy commented on #913
Thanks for chiming in, @petkaantonov !  We should update the WL dependency to reflect that, and also make a change here to avoid using `__defineGetter__`.

[2015-03-30 21:02] kevinob11 opened #917 "Truthy validation"
The truthy validation is not working for me. I have the following attribute, which I expect to always fail validation, it does not, it consistently passes validation. Something I'm missing about custom validation functions?
[code]

[2015-03-30 21:04] tjwebb commented on #913
I already started work on this, which includes a needed refactor anyway.

Thanks for your input @petkaantonov

[2015-03-30 21:08] kevinob11 commented on #917
Hrm I'm thinking about this wrong aren't I? Is that function supposed to return the value to be evaluated or the boolean that represents whether or not you want your value to be truthy or not?

[2015-03-30 21:28] esopian commented on #783
Same issue here.  Would love to find a solution for this.  Here's the mysql call that waterline tries to make.

[code]

[2015-03-30 22:20] dmarcelino commented on #917
Judging by the [code](https://github.com/balderdashy/anchor/blob/6c0c1edc1c88af857336b014a4508d93a8b33bf5/lib/match/rules.js#L76) it expects *the boolean that represents whether or not you want your value to be truthy or not*.

[2015-03-30 23:05] JetFault opened #918 "Feature Request: Seek/Keyset Pagination"
This is a feature request to add keyset/seek pagination. So instead of Offsets, which are slower and face problems with duplicates (if you add a new row) or missing items (if you delete a row), provide an 'after' criteria.

Similar to [Reddit](https://www.reddit.com/dev/api) and [Product Hunt](https://api.producthunt.com/v1/docs/posts/posts_all_paginate_to_older_posts)

Relevant Threads:
1. http:/

[2015-03-30 23:38] sfabriece commented on #910
@dmarcelino Thanks for the feedback.
I also have a question on performance of waterline, compared to the MySQL module?

[2015-03-31 02:57] tibotiber commented on #648
Great! Thanks guys! :)

[2015-03-31 03:08] anasyb opened #919 "Add support for .populate({ select: [] })"
The ```select``` is being ignored.. getting back the full records instead of just the titles.
[code]
Not sure if its only on mongo?

**UPDATE @dmarcelino**: changed this issue into a feature request.

[2015-03-31 03:14] tjwebb commented on #919
Select clause should be an argument to `find()`, not `populate()`

[2015-03-31 03:29] devinivy commented on #919
Possibly related to #509, which will be a part of 0.11.

[2015-03-31 03:32] anasyb commented on #919
I have been reading the code which seems to be written as if this is the behaviour... [populate.js](https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/integrator/populate.js#L66) and [deferred.js](https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/deferred.js#L179)

The only documentation I found is [here](https://github.com/balderdashy/waterline/blob/46

[2015-03-31 03:37] anasyb commented on #919
Do you guys know [when that](https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/integrator/populate.js#L41) `_insertJoinedResults` which contains `childRow = _.pick(childRow, select);` is supposed to be called? I can't seem to be able to catch it with a breakpoint!

[2015-03-31 06:15] albertkim commented on #251
+1

[2015-03-31 09:47] dmarcelino commented on #919
I know waterline supports "populate where": `.populate('taxis', { medallion: { '<': 2 }})` ([find.populate.where.js#L38](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/associations/manyToMany/find.populate.where.js#L38)) but I think "populate select" would be a new feature.

[2015-03-31 09:55] dmarcelino commented on #918
The first article is a good reading source for this feature and the feature sounds reasonable. :+1:

@JetFault, would you like to volunteer to implement this? :smiley:

[2015-03-31 11:34] devinivy commented on #251
@particlebanana @tjwebb @dmarcelino 0.11?

[2015-03-31 12:41] dmarcelino commented on #666
"Not contains" doesn't seem supported either: #22 and [“not contains” query in SailsJS Waterline](http://stackoverflow.com/questions/29362437/not-contains-query-in-sailsjs-waterline). I'm labelling this as a feature request.

[2015-03-31 12:46] dmarcelino commented on #648
We can probably take a look at #666 (`NOT LIKE` /  `NOT CONTAINS`) while we are adding this, I believe it's around the same area.

[2015-03-31 12:51] tjwebb commented on #666
Is your column nullable?

[2015-03-31 14:06] kai23 commented on #666
@tjwebb it's an enum, so it isn't.

[2015-03-31 14:12] m0g commented on #317
Hi, I'm using Waterline v0.10.19 and I'm having the same issue.

[code]

And in the browser ```responses``` & ```options``` are now gone.

[code]

[2015-03-31 14:40] randallmeeker commented on #918
It is important to note that ```Limit``` & ```Skip``` simply transpose those values to specific arguments on the adapter. This SEEK method (and I think it is a very, very good one) is more complicated in that it has to work on a set of sort criteria and needs to have advance knowledge of a specific values in order to jump to a specific page. Meaning you can't just say, ```{seek: 10}``` in order to

[2015-03-31 14:46] dmarcelino commented on #910
I can't help you there as I don't use the MySQL module but many people use Sails which uses Waterline so it shouldn't be too bad. More on sails performance on this gitter chat: [March 30 2015 4:04 AM](https://gitter.im/balderdashy/sails?at=5518bd21ce384d5975425888) (a bit long but probably worth it).

[2015-03-31 14:46] #917 closed

[2015-03-31 14:50] kevinob11 commented on #917
Thanks

[2015-03-31 16:38] anasyb commented on #317
Hi @m0g !
Sorry the workarounds I posted above might not work as they did for me... it turned out I was so lucky that a [bug](https://github.com/balderdashy/sails-mongo/issues/254) was allowing it to work for me!
The strange thing in your code is that you're already populating... so stripping out the associated record should be de-activated on your toObject by default!

Here is a quick and dirty c

[2015-03-31 17:01] JetFault commented on #918
@dmarcelino Unfortunately, I have negative time right now :( I looked a bit at how waterline does `where` queries as this is just an extension of where queries, but resorted to native queries (it would be nice if these had a more [knex-like binding](http://knexjs.org/#Raw-Queries) but that's another topic).

And as @randallmeeker said, these can be done using Waterline right now by just adding to

[2015-03-31 17:06] kirkaleze commented on #705
@devinivy  what statement are you using to populate your join model once humans and dogs are populated? Also, is declaring the variables necessary?

[2015-03-31 17:13] devinivy commented on #705
@kirkaleze declaring the variables is merely for illustrative purposes.  The populate query would then look quite normal:
`DogCollection.find().populate('humanFriends').exec(function(err, dogs) {});`

But you should also be able to query the junction table:
`FriendshipsCollection.find().exec(function(err, friendships) {});`

[2015-03-31 17:25] dmarcelino commented on #169
#903 has been merged, this feature will be available on the next release.

[2015-03-31 17:25] #169 closed

[2015-03-31 17:49] anasyb commented on #891
Indeed... why would `toObject` do that... very unexpected.

@devinivy I vote for option 1, and devote 2 and 3. After calling `toObject` and then doing some decorations to the returned object, res.ok(obj) simply calls again `toObject` and apply some rules that undo some stuff that was done... after a complete day of tracing this out had to simply do `obj.toJSON = undefined`

One would expect that a

[2015-03-31 19:42] randallmeeker commented on #918
I like it. I think here is where the conversation should continue.

[2015-03-31 22:32] toolbear commented on #836
@devinivy no word, sorry.

We stopped using Sails Models and Waterline because our app's DB doesn't have a Waterline adapter and writing one ourselves proved not to be the best use of our time at the moment.

[2015-03-31 22:43] tjwebb commented on #836
@toolbear which database is this?

[2015-03-31 23:40] toolbear commented on #836
@tjwebb Parse.com

Using the waterline adapter starter project we got an adapter up and running with CRUD fairly quickly, but got bogged down implementing relations. Starter project offered little/no direction past CRUD; I failed at finding additional guidance or articulating my need on gitter/IRC. Looking at the source of other adapters I had difficulty sussing out the waterline relationship spec

[2015-04-01 00:36] tjwebb commented on #836
@toolbear have you seen https://github.com/zohararad/sails-rest? Might serve as a good starting point.

I'm on gitter all the time, perhaps we've just missed each other. Is your parse adapter project open source somewhere?

[2015-04-01 02:20] mgenev commented on #912
I will take a look this weekend

[2015-04-01 02:25] devinivy commented on #919
If someone thinks this isn't full answered, feel free to reopen.  But as of now, there's no `select` criteria.

[2015-04-01 02:36] devinivy commented on #852
PR @ #922

[2015-04-01 02:38] devinivy commented on #839
@dmarcelino @particlebanana @tjwebb could this be more for 0.11 or are we booked?

[2015-04-01 02:45] devinivy commented on #840
As I understand it, that `[1]` is "contained" in `[1, 2]`, so you want your query to return additional records based upon that rule.  Waterline doesn't support searching by array containment in this way.  If you have an idea for how a feature like this might work, feel free to create a new issue for a feature request.  If there's a separate problem here I've missed, we can reopen this issue.

[2015-04-01 02:45] #840 closed

[2015-04-01 02:51] devinivy commented on #806
Thanks, @Alaneor.  I realize this issue is somewhat old, but I'd like to look into this.  Is there any possibility you could write a failing test in [here](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/associations/manyToMany/findOne.populate.js) in waterline-adapter-test?

[2015-04-01 05:26] weblogixx commented on #891
@anasyb I think that toObject should indeed have a toJSON method, as every object and primitive has one.You could, for example, never transfer a waterline model as inline JSON in a view because you just could not parse it to JSON.

toJSON should just export the current items representation without functions. In our models, we could call something like parent.toJSON to get the original json object

[2015-04-01 06:01] anasyb commented on #891
good thoughts @weblogixx...
1. I am in total agreement that a `toObject()` and `toJSON()` should be included on the raw record sent to the callback.
2. in my opinion once you convert that record to an object using toObject, **waterline is out of business**.. almost all other methods are stripped out by that call. I think waterline's toObject and toJSON should likewise be stripped out. You have to

[2015-04-01 06:30] anasyb commented on #891
@devinivy I am totally new to waterline's codebase... but after a quick check it doesn't seem there are places where waterline is expecting a `toObject` on the obj returned by `toObject`?
- In case am wrong... then you really need to check my comment above... in more than location `toObject` is clearly assuming its working on a full fledge raw record not on the results returned by itself.
- In cas

[2015-04-01 09:04] m0g commented on #317
Hey @anasyb, thanks for you help.

Let me elaborate a bit more.

What I want to do is to convert ```question``` into an object. Because I want to be able to override the content of ```question.options``` if ever I feel like doing so.

If I don't convert ```question``` to object then I can't override the options, unless I add a custom property like ```question.customOptions = customOptions```.

And

[2015-04-01 09:16] dmarcelino commented on #317
I'm wondering if this can be caused by #891 (Model#toJSON returns an object with a toJSON method)?

[2015-04-01 09:19] #852 closed

[2015-04-01 09:33] dmarcelino commented on #839
I actually need this on `sails-orientdb` to detect when all collections have been created so I can create links (a sort of association in orientdb world) for 1-1 and 1-N between tables. Currently I'm using a hack where I monitor when `describe` and `define` have been called and try to infer if all tables are created (which is required in order to create such links).

:+1:  for `0.11`

[2015-04-01 09:47] atiertant commented on #919
shoud be a feature request

[2015-04-01 10:49] m0g commented on #317
So I figured out an ugly workaround to my issue. If you guys are interested.

Here it is

[code]

[2015-04-01 11:38] devinivy commented on #891
@anasyb the created object inherits the prototype of the original model (so it has `toObject` itself), and I'm not completely sure if that's necessary either: https://github.com/balderdashy/waterline/blob/master/lib/waterline/model/lib/defaultMethods/toObject.js#L31

I agree that there's probably some cleaning-up to do there.

[2015-04-01 14:36] jurajpetrik opened #923 "[Feature Request] callback afterFind"
Would it be possible to implement a  callback afterFind? E.g. I have an event with a date specified and in afterFind I could insert an attribute hasExpired..

[2015-04-01 14:42] dmarcelino commented on #923
This has also been discussed in #525 ([comment](https://github.com/balderdashy/waterline/pull/525#issuecomment-86678830)).

@aclave1, would you be interested in taking this?

I think this is a good fit for `0.11`.

cc: @randallmeeker

[2015-04-01 14:54] randallmeeker commented on #923
+1 for v0.11

[2015-04-01 16:11] anasyb commented on #317
@m0g sorry you had to go as far as that... this is indeed caused by #891... in particular please read this comment https://github.com/balderdashy/waterline/issues/891#issuecomment-88361748

All you need is to stop waterline from being involved in your object. You can do so simply by:

[code]

[2015-04-01 16:18] anasyb commented on #891
exactly! It is inheriting the proto, and what am saying is that this should not be the case for two reasons:
- the object returned by `toObject` is no longer an instance of the model... its something else with different structure
- the functions in the proto that's being inherited are not designed to be called on such an object, they are designed to be called on a proper instance of the model. The

[2015-04-01 16:37] anasyb commented on #923
One minute I think this should go into sails another min I think it should go into waterline. But definitely it should go somewhere!!
I was experimenting with **Model Policies** (different route policies that sails provide us with) which would also have access to the `req` as well as the returned `records`.. and run between the model action and the controller. @jurajpetrik checkout the discussion

[2015-04-01 16:42] anasyb commented on #923
@jurajpetrik for your particular use case have you considered an attribute function, something along the lines of:
[code]

Or is it that you want it to be sent over `res` or persisted?

[2015-04-01 17:18] dmarcelino commented on #880
Node 0.11 is definitely consuming more memory than 0.10. Below are the results of some [load tests](https://github.com/balderdashy/waterline-adapter-tests/tree/load_test) I ran on Travis (taken from https://github.com/balderdashy/sails-postgresql/issues/141#issuecomment-88208132)

Machine | Node | memory and disk adapters | SQL Adapters | Reference
------------|---------|--------------------------

[2015-04-01 17:21] devinivy commented on #880
Node 0.11 is edge, right?  We probably want to know about 0.10 or 0.12.

[2015-04-01 20:06] tjwebb commented on #880
Node 0.11 and 0.12, and iojs are known to consume more RAM at idle than 0.10 and earlier.

[2015-04-01 20:16] aclave1 commented on #923
@dmarcelino I can take this. When should I do this?

[2015-04-01 20:37] mkeremguc commented on #880
it is not about consuming more ram at idle. memory usage rises up fast when you do db actions and it doesn't free back... like a memory leak

[2015-04-01 21:21] dmarcelino commented on #923
How about 0.11? There is no scheduled date yet... And thanks!

[2015-04-01 21:23] tjwebb commented on #880
can you guys post output of `process.memoryUsage()` as you're running these tests?

[2015-04-01 21:24] dmarcelino commented on #880
@tjwebb, that's what my [load test](https://github.com/balderdashy/waterline-adapter-tests/tree/load_test) does.

[2015-04-01 21:26] tjwebb commented on #880
Ah ok, sorry I missed that.

In general I'm really not interested in what `pm2` or `top` or any other external tool says. Node might be using 1GB of memory, but might also have a perfectly good reason for not gc-ing that memory yet.

[2015-04-01 21:27] dmarcelino commented on #880
Node **0.12**, sails-memory, load test results (idle is measured 1s after the last `.find()`):

[code]

https://travis-ci.org/balderdashy/waterline-adapter-tests/jobs/56787563#L604

[2015-04-01 21:28] dmarcelino commented on #880
Node **0.10**, sails-memory, load test results (idle is measured 1s after the last .find()):

[code]

https://travis-ci.org/balderdashy/waterline-adapter-tests/jobs/56787565#L633

[2015-04-01 21:31] dmarcelino commented on #880
Not only node 0.12 consumes more memory it also has some issues letting it go. You can click the links to see results for all adapters.

[2015-04-01 21:32] tjwebb commented on #880
Yea... to me those numbers look perfectly normal.

[2015-04-01 23:48] devinivy commented on #720
If this isn't an acceptable answer, please flag us to reopen!

[2015-04-01 23:48] #720 closed

[2015-04-01 23:51] tjwebb commented on #720
This is the only way to connect up new associations; since your new model definition might affect other models' associations, the whole ORM graph needs to be re-examined.

[2015-04-01 23:52] devinivy commented on #692
It looks like this was answered on Stack Overflow, on the link you provided.  If you think there's a potential feature request here, please start a new issue with some proposed specs!

[2015-04-01 23:53] devinivy commented on #782
If this answer isn't sufficient, flag us and we can reopen the issue!  Otherwise, this is looking closed.

[2015-04-01 23:53] #782 closed

[2015-04-02 00:01] huafu commented on #692
Well the only correct (ie working for my described case) is mine [there](http://stackoverflow.com/a/26447442/1603618), but that is a dirty workaround I believe.

Today there is no way, outside of a controller for a given model, to know what mode instance is a record except that hack I described.

I don't think that it's a good way of doing things, so yeah a PR with a better way would be great, tho

[2015-04-02 00:11] devinivy commented on #698
As I understand it, JSON/Array data types should be passed to the afterUpdated lifecycle as an object/array respectively, rather than a string.  That sounds reasonable.  @chadxz mind changing the title to reflect this?  Anybody mind writing a failing test [here](https://github.com/balderdashy/waterline/tree/master/test/unit/callbacks)?

[2015-04-02 00:20] devinivy commented on #743
`max` needs to be a literal, so this wont work.  In fact, the custom validations should be synchronous too.  Perhaps try enforcing this using middleware in your API.  If this question feels unanswered, we can reopen.  If there's a feature request lurking here, feel free to make a new issue with some suggested specs.

[2015-04-02 00:20] #743 closed

[2015-04-02 00:23] devinivy commented on #668
It seems like the upcoming `beforeFind` lifecycle feature will suit you here!  See #902.  If you have more specific questions about this, we can reopen this issue.

[2015-04-02 00:23] #668 closed

[2015-04-02 00:27] devinivy commented on #804
Sounds like `alter` doesn't work well for this particular situation.  I think the question has been answered– if you feel otherwise, we can reopen.  If you think there's a feature request lurking here, please create a new issue.

[2015-04-02 00:27] #804 closed

[2015-04-02 00:54] devinivy commented on #778
See PR #789 fixing #788.  Closing as duplicate.

[2015-04-02 00:54] #778 closed

[2015-04-02 01:30] devinivy commented on #610
Can we revive this?  @dmarcelino, test-master, mind taking a peek?

[2015-04-02 01:31] devinivy commented on #773
Anyone have any leads here?  Any method of reproducing the issue at hand?

[2015-04-02 01:36] devinivy commented on #674
Bump!  Can we get a failing test written for this?

[2015-04-02 01:37] devinivy commented on #860
@Clan-Utility mind sharing which adapter you're using?

[2015-04-02 01:50] devinivy commented on #765
Sounds like `autoPk` is the collection property to look at.  If this wasn't sufficiently answered we can reopen or move to the relevant adapter!

[2015-04-02 01:50] #765 closed

[2015-04-02 01:52] devinivy commented on #744
Which adapter methods does each adapter implement?  `elasticsearchServer` methods will probably override `mongoServer` methods (when present) the way this is written.

[2015-04-02 01:53] devinivy commented on #733
Thanks!  Move conversation to https://github.com/balderdashy/waterline-cursor/issues/3 .

[2015-04-02 01:53] #733 closed

[2015-04-02 02:08] devinivy opened #925 "Address integrator issue (Cross database associations)"
A potential issue with the integrator was brought-up by @particlebanana in https://github.com/balderdashy/waterline/issues/664#issuecomment-57248273 , issue #664.  This is a technical issue that needs review and a potential fix.  If @particlebanana could chime-in what exactly to look for, that would be very useful!

**Pending tasks:**
- [x] 1. PR #984 merged
- [x] 2. PR #985: unit tests may need t

[2015-04-02 02:08] devinivy commented on #664
Moved to #925.  Thanks!

[2015-04-02 02:08] #664 closed

[2015-04-02 02:15] devinivy commented on #646
Mind pointing to some lines of code?

[2015-04-02 02:21] devinivy commented on #808
You want to populate the likes on a user.  Analogously to your example,
[code]

If your question remains unanswered, we can reopen this!

[2015-04-02 02:21] #808 closed

[2015-04-02 02:26] devinivy commented on #811
I think this would be a wonderful feature!  Allow for a query that returns the number of associated records on a particular associated collection.  I propose that we count by uniqueness on a field, i.e.,
`Users.findOne(42).populate('files', {count: id})`

[2015-04-02 02:29] devinivy commented on #824
+1, Joi is wonderful!  This integration would be relatively simple.

[2015-04-02 02:30] devinivy commented on #589
The closest thing to docs here are my comment on #705 https://github.com/balderdashy/waterline/issues/705#issuecomment-60945411

[2015-04-02 02:31] devinivy commented on #502
Looks fixed!

[2015-04-02 02:31] #502 closed

[2015-04-02 02:39] devinivy commented on #692
Given that, I've repurposed this issue as a feature request.  Hope that's cool!

[2015-04-02 05:23] huafu commented on #692
Ha, thanks that's perfect!

[2015-04-02 09:00] tjwebb commented on #692
You can just require actionUtil and use its methods.

e.g. https://github.com/tjwebb/sails-permissions/blob/master/api/policies/ModelPolicy.js#L8

[2015-04-02 10:23] dmarcelino commented on #692
Another workaround (if you don't have too many models) is to add an instance method that returns the name of the model, for example:
[code]

[2015-04-02 10:29] #823 closed

[2015-04-02 10:35] dmarcelino commented on #811
I'm wondering if it wouldn't be simpler to make something like: `Pets.count({ user: 42 })`. I don't think this is currently supported but it would be a nice way of going about it.

[2015-04-02 10:51] dmarcelino commented on #860
I've checked the docs, the adapter [findOne.test.js](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/semantic/findOne.test.js) and the waterline core [query.findOne.js](https://github.com/balderdashy/waterline/blob/master/test/unit/query/query.findOne.js) test and there is nothing suggesting one can search for `undefined`. I don't think this was foreseen. The [`.findO

[2015-04-02 11:32] Josebaseba commented on #773
For sails-mongo adapter this is the solution: https://github.com/balderdashy/sails-mongo/issues/246

[2015-04-02 12:34] devinivy commented on #860
I think the issue at hand is that, when using populate, you should still receive an error.  Undefined certainly can't be valid criteria in `findOne`.

[2015-04-02 12:45] devinivy commented on #811
For one-to-many relationships, you could certainly go about it that way: `Pets.find({user: 42}).count()` returns the number of pets associated with user 42.  What I'm thinking of would be the ability to return the count _on an associated record_, possibly in lieu of the associated records themselves.  Ex:
[code]

[2015-04-02 13:05] dmarcelino commented on #860
We could replace the [following lines](https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/finders/basic.js#L56-L60):
[code]
for
[code]

[2015-04-02 13:48] dmarcelino commented on #773
I believe this is a sails-mysql issue and should probably be discussed in balderdashy/sails-mysql#175.

[2015-04-02 15:12] mnaughto commented on #646
It's been a while, and I don't remember the specifics of the issue anymore.

I was referring to the comments of line 41 in update.js and lines 46 and 47 in reduceAssociations.js.

[2015-04-02 15:15] pdavid0 commented on #870
I didn't try ```populateAll() ``` in this context. Closing, thanks for the support, kep up the good work ! :+1:

[2015-04-02 15:15] #870 closed

[2015-04-02 16:20] #913 closed

[2015-04-02 18:24] dylanpyle opened #926 "Dynamic finders should be overwritten when a method with that name exists"
Situation: I've defined a model as follows:

[code]

Thanks to the magic of dynamic finders, there's already a `findByType` method before I define mine. But in a case where I wasn't aware of all of these or wanted to re-define it anyway (without disabling all the others either globally of for this model), I'd want to be able to override it by default.

**Expected result:**  When I call `Items.find

[2015-04-02 18:47] dmarcelino commented on #926
I think this is a reasonable feature and it shouldn't be too complicated to implement.

The dynamic finders code is in: https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/finders/dynamicFinders.js

And tests in: https://github.com/balderdashy/waterline/blob/master/test/unit/query/query.dynamicFinders.js

[2015-04-02 21:30] albertkim commented on #109
I've hacked around this issue by having big beforeCreate functions in my models involving composite keys. Thankfully none of my tables require more than 2 composites, but if there are any more I don't think this method will hold up. Here's a +1 from me.

I look forward to seeing how this gets implemented.

[2015-04-02 23:18] lance-anderson opened #927 "Waterline adapter for Parse?"
Does anyone know if there is a Waterline adapter for Parse?

I found this one:
https://www.npmjs.com/package/waterline-parse

But the GitHub page is a 404...

Has anyone out there used this adapter?

[2015-04-02 23:41] huafu commented on #692
@tjwebb no because that means you need the `request` object and it'll only give you `user` because the request has been done in the `user` controller for example

@dmarcelino that would be a clean solution but it'd be better to have a waterline helper for this instead of having to add a method to all models ;-)

[2015-04-03 03:26] devinivy commented on #588
I expect this is fixed by #889.  Related: #877 and #911.  @ArdentZeal I realize this is very old, but if you have the time it would be great to know if that PR fixes the issue for you.

[2015-04-03 03:28] devinivy commented on #449
Is this still kicking around?

[2015-04-03 03:31] devinivy commented on #869
If this doesn't move along in a week, I think we'll have to close this out.  @ckken is the issue that there's an uncaught error somewhere?

[2015-04-03 03:34] devinivy commented on #695
@hellowin the only practical difference is how a particular adapter might handle them differently.  Either type of value should come out of the database as an `array` or `json` object respectively!  This seems answered now, but if someone disagrees, we can reopen!

[2015-04-03 03:34] #695 closed

[2015-04-03 03:36] devinivy commented on #851
Sounds like a feature related to transaction support: #755

[2015-04-03 03:42] devinivy commented on #816
Waterline cannot do this, but feel free to make a new issue as a feature request including suggested specs!  That said, you may use `Collection#query` on most SQLy adapters to run SQL directly.

[2015-04-03 03:42] #816 closed

[2015-04-03 03:45] devinivy commented on #825
@listepo feel free to issue a PR adding the link!

[2015-04-03 13:24] jurajpetrik commented on #923
@anasyb Thanks I didn't know about attribute functions, I do want it to be sent over res though.

[2015-04-03 14:12] anasyb commented on #923
Then maybe you have two options:
option 1.  move that to the controller or the blueprint, or even a policy (depending on your case). You can keep the attr function if it has some use elsewhere.
[code]

option 2. override toJSON in your model to add all that fancy stuff. This is a good option if you always want to add that attr to the json of your event. You can find an example of overriding `toJSO

[2015-04-03 15:05] chadxz commented on #698
@devinivy on it

[2015-04-03 15:32] chadxz commented on #698
@devinivy this doesn't seem to be an issue with the waterline layer, but of the sails-mysql adapter. Waterline is just passing the values to afterUpdate what it got from the adapter.

[2015-04-03 15:34] chadxz commented on #698
i'm gonna keep trying for a bit

[2015-04-03 15:38] chadxz commented on #698
nevermind, i'm seeing the issue now

[2015-04-03 16:39] chadxz commented on #698
@devinivy https://github.com/chadxz/waterline/commit/88407fc987b62f196d92fdc580df59e8d6ff8c23 how's this?

[2015-04-03 17:10] #869 closed

[2015-04-03 19:07] devinivy commented on #698
Looks good!  I made one comment on it.  Thanks, @chadxz!!

[2015-04-03 19:09] devinivy commented on #698
Here's where the code change should likely happen: https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/dql/update.js#L207-L226

[2015-04-03 19:32] chadxz commented on #698
@devinivy okay, i fixed that and re-wrote the commit. new commit is https://github.com/chadxz/waterline/commit/a90fa94561a60b63a0ef89776587d407e7df3ec0

[2015-04-03 21:56] #877 closed

[2015-04-04 11:19] dmarcelino commented on #927
I found [sails-parse](https://www.npmjs.com/package/sails-parse), repo https://github.com/murilopolese/sails-parse? Last commit was in Nov 5, 2013... I've also found https://github.com/tommy60703/sails-parse but doesn't seem to have a npm package and I'm not sure if it's a fork from the former. @lance-anderson, maybe you can contact the developers and even contribute? It would be great if the seve

[2015-04-04 16:21] dmarcelino commented on #762
Hi @khanghoang, according to sails-mongo:

Because of this I don't believe you can have an `id` of `type: 'integer'`.

Please re-open if you think this doesn't fully answer your question.

[2015-04-04 16:21] #762 closed

[2015-04-04 16:28] dmarcelino commented on #813
Hi @khalilTN, can you please give code and model definition examples?

sails-mysql passes the [binary test](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/semantic/types/binary.type.js), excerpt below:
[code]

[2015-04-04 16:29] devinivy commented on #429
After some digging, the only place that I see waterline paying attention to there being a schema or not is here: https://github.com/balderdashy/waterline/blob/master/lib/waterline/core/schema.js#L194

That seems benign to me, and pretty natural.  My inclination is that it probably _is_ up to the adapters to deal with this correctly.  @dmarcelino do you see the embedded data sent to the adapters wh

[2015-04-04 16:37] dmarcelino commented on #545
Hi @esevece, I've tried running the raw-example and it ran fine. Can you confirm this is still an issue?

[2015-04-04 16:40] dmarcelino commented on #847
@bradshja, would you mind adding a test to your PR please?

[2015-04-04 16:45] dmarcelino commented on #790
Hi @ksaitor, would you mind submitting a PR? Some useful links below:
* findOrCreate code: https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/composite.js#L24
* findOrCreate test: https://github.com/balderdashy/waterline/blob/master/test/unit/query/query.findOrCreate.js

[2015-04-04 17:01] dmarcelino commented on #925
Could also fix:
* Association .populate() only populates defined attributes #366
* weird results in populated data #503
* Join failing across adapters #833

Possible solution, PR: Allow Associations to Use 'type' as a Name #789

[2015-04-04 17:09] dmarcelino commented on #793
@particlebanana, @devinivy, @tjwebb, what do you guys think about being able to disable lifecycle callbacks on a save/update/destroy operation?

[2015-04-04 17:21] dmarcelino commented on #831
Hi @gunish, waterlock is a project independent of waterline and is maintained by different people. In it's README it says:

So it seems to me that waterlock hooks into your models and extend them generating the models you need. To create a DB schema from these models in a development environment you should only need to set `migrate: 'alter'` and sails will create the DB schema on `sails lift`. Mor

[2015-04-04 17:21] #831 closed

[2015-04-04 17:27] #645 closed

[2015-04-04 17:30] dmarcelino commented on #651
`migrate: 'alter'` is one possible cause for the issue, given it's deemed experimental and not safe. This is also a very difficult issue to reproduce so I'm closing this for now. Please reopen if you experience this again or you can provide a test to reproduce this.

[2015-04-04 17:30] #651 closed

[2015-04-04 18:51] devinivy commented on #793
I would opt to go a different route here, such as providing the ability to pass meta information (in the form of an object) to the adapter and lifecycle callbacks.  Then the lifecycle callbacks could act on any any information that the user would like to provide them.  The object would be an optional parameter to `Model#save` and all the public `Collection` methods.

[2015-04-04 19:19] devinivy commented on #775
@slyder you can get that error constructor by requiring from the waterline package:
[code]

Then you can use it as it's used here: https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/validate.js#L43-L48

I'm going to close this out, but if you still feel unanswered, we can open this issue up again.

[2015-04-04 19:19] #775 closed

[2015-04-04 19:59] anasyb commented on #911
ok guys... so it turned out to be a combination of what the PR solved + something wrong with multiple `findOrCreate` coming in together. I guess I'll close this issue and open another one for the `findOrCreate`.

[2015-04-04 19:59] #911 closed

[2015-04-04 20:01] anasyb commented on #294
+1 for `updateOrCreate`
+1 for found or created

[2015-04-04 20:15] dmarcelino commented on #793
I see what you mean @devinivy, something similar (regarding the adapters) has been discussed in  #780: Queries language: passing adapter specific parameters. I think that could be a reasonable tradeoff.

[2015-04-04 20:20] dmarcelino commented on #294
`updateOrCreate` has its own issue: #790, please add any upvotes there.

Regarding this specific feature, I like what @particlebanana suggested on https://github.com/balderdashy/waterline/issues/294#issuecomment-36778354:

[2015-04-04 20:24] anasyb opened #929 "Docs: findOrCreate broken with high frequency calls"
`findOrCreate` is resulting in multiple created records when multiple requests with the same criteria come at the same time.

This only happens when no record matching the criteria exists already... and say 7 requests come in together... they will result in 7 created records. Subsequent requests, no matter how frequent, do not result in more records, obviously since there is already a match that h

[2015-04-04 21:16] devinivy commented on #929
Unless the adapter has its own `findOrCreate` method, the most waterline can do is look for the record, then create it if it doesn't currently exist in the DB.  Do you think `findOrCreate` should have its own cache of pending queries?  There's still a scalability issue when waterline is run on multiple different machines, say.  The most I can imagine doing is using some sort of lock on the databas

[2015-04-04 21:19] devinivy commented on #929
Or there could be a giant feature requests here for waterline to create its own locks based upon db ops shared in some caching layer.  That is, redis/memcached could store ops that waterline has made on various tables, then cause blocking in the application to make sure everything is resolved.  This would be related to transaction support, requested at #755 .

[2015-04-04 21:50] anasyb commented on #929
I see.. yes perhaps it doesn't belong in here unless a caching layer is there. I didn't check the code, but for some reason I assumed the way `findOrCreate` is implemented by waterline involves ops queueing, in which case what I would do is simple check for `findOrCreate` duplicates based on the criteria and trigger blocking in that case.

I do think there is a bit of room for improving the docs t

[2015-04-04 22:19] devinivy commented on #929
Good find!  We'll plan to add that to the docs.

[2015-04-04 22:52] devinivy commented on #908
I tested on waterline 0.10.20 and 0.10.18 on sails-mysql and sails-memory for this situation in the case of a one-to-many and a many-to-many relationship.  Everything passed!  I have not tried mongo yet because I'm having trouble installing it on my machine.

[2015-04-05 00:04] dmarcelino commented on #641
Hi @japel, to the best of my knowledge `.populate()` is only supported by `.find()`. There is another issue requesting to extend support to `create` and `update`: #354. And within that thread someone requested that `findOrCreate` is also supported. Can you please continue this discussion there? Closing this issue for now, please reopen if you feel this hasn't been responded adequately.

[2015-04-05 00:04] #641 closed

[2015-04-05 00:11] dmarcelino commented on #644
Hi @mkeremguc, there have been two PRs (#889 and #898) recently released that address nested updates. Can you try the latest version of waterline and check if the issue remains? Thanks

[2015-04-05 00:14] dmarcelino commented on #842
Hi, there is another issue open requesting support for create.populate and update.populate: #354. I'm closing this as a duplicate, please reopen if you feel otherwise.

[2015-04-05 00:14] #842 closed

[2015-04-05 00:19] dmarcelino commented on #540
Closing this as a duplicate of #839.

[2015-04-05 00:19] #540 closed

[2015-04-05 00:20] dmarcelino commented on #370
Closing this as a duplicate of #109, please reopen if you feel otherwise.

[2015-04-05 00:20] #370 closed

[2015-04-05 00:21] dmarcelino commented on #523
Closing this one as a duplicate of  #109, please reopen if you feel otherwise.

[2015-04-05 00:21] #523 closed

[2015-04-05 00:28] dmarcelino commented on #343
What is the status of this? PR #829 was merged and released recently and it improves the speed of `.populate` considerably. @ArdentZeal can you please re-evaluate the performance you are getting?

[2015-04-05 00:29] dmarcelino commented on #639
@srisy, @ginolon, what is the status of this, can you please update?

[2015-04-05 00:31] dmarcelino commented on #658
@particlebanana, @randallmeeker, @mgenev, @devinivy what do you think of this?

[2015-04-05 00:33] dmarcelino commented on #691
Closing as a duplicate of balderdashy/sails-mysql#155.

[2015-04-05 00:33] #691 closed

[2015-04-05 01:28] mkeremguc commented on #644
Hi @dmarcelino, unfortunately the issue still remains on latest waterline(0.10.20). can you please check my observation and possible fix within #533 ?

[2015-04-05 01:30] mkeremguc commented on #644
obviously this: https://github.com/balderdashy/waterline/issues/533#issuecomment-68079748

[2015-04-05 07:31] LoveIsGrief commented on #572
+1

[2015-04-05 10:03] dmarcelino commented on #644
@mkeremguc, thanks for checking. The PRs I mentioned fixed several issues with nested updates and I wanted to be sure that it didn't fix this issue.

I've left a comment on PR #850 which is supposedly the fix for this issue.

[2015-04-05 10:20] dmarcelino commented on #409
Hi @gebrits, `beforeFind` (#902) and `afterFind` (#923) will added in waterline 0.11. I believe those would be enough to address this. Please reopen if you feel otherwise, thanks.

[2015-04-05 10:20] #409 closed

[2015-04-05 10:24] dmarcelino commented on #732
It seems #705 would be the solution for this, so closing this for now. Please reopen if you feel otherwise.

[2015-04-05 10:24] #732 closed

[2015-04-05 10:33] dmarcelino commented on #738
Hi @drj-io, @arcseldon, if I understand correctly this is an issue with validations, where you have a model with `type: 'url'`. And the validation will work for:
[code]
But i fails for:
[code]

Is this what you are saying or did I misunderstand?

[2015-04-05 11:08] dmarcelino commented on #500
Hi @ArdentZeal, what's the status of this? Can you try the batch update with `v0.10.20`? Thanks

[2015-04-05 15:23] mkeremguc commented on #644
PR #930

[2015-04-05 16:42] anasyb commented on #908
Thanks for the update...
I just tried to recreate the error and failed :(
Seems like something fixed it... I should have kept better track of what went on. Sorry for the trouble!

[2015-04-05 16:50] anasyb commented on #908
Ok got it...
**If I leave the `id` unspecified, everything goes thru.** If I specifiy the `id` and an empty association, it errors yet it create the `user` record. From the error I can see it says `Error updating a record` and I was telling my self: why does it say `updating` when I never asked it to update anything! I am guessing its trying to update a `post` record with the association and error

[2015-04-06 10:43] Globegitter commented on #929
@anasyb another temporary solution might be to do the calls in sync. Depending on performance and the rest of your code this may or may not be feasible.

But you could either use [babeljs](http://babeljs.io/) to add `async/await` support, or probably better and simpler yet just chain the `findOrCreate` returned promises as seen here: https://github.com/balderdashy/waterline/#query-methods

But yes

[2015-04-06 14:19] dmarcelino opened #931 "Future of findOrCreateEach and dynamic finders"
According to PR #843 `findOrCreateEach` is deprecated:

@tjwebb

@particlebanana:

The questions are:
* Should we strip the `findOrCreateEach` from waterline on `0.11`?
* Should we strip all dynamic finders code from waterline on `0.11`?
* Should we move dynamic finders to another project?
* Any other thoughts regarding dynamic finders?

cc @devinivy, @randallmeeker, @Globegitter, @RWOverdijk

[2015-04-06 14:25] Globegitter commented on #931
The way I see it is that `findOrCreateEach` indeed should be deprecated and `findOrCreate` should support both use-cases. Which it is pretty close to supporting right now anyway.

[2015-04-06 14:26] devinivy commented on #931
I don't care if we strip `findOrCreateEach` or dynamic finders out of the API.  But I'm curious how widely the dynamic finders are used.  It is a pretty typical feature of ORMs, I think.

If we do remove `findOrCreateEach`, we should stop using it internally to waterline core.  This was brought-up with @Globegitter [here](https://github.com/balderdashy/waterline-adapter-tests/issues/38#issuecommen

[2015-04-06 14:31] devinivy commented on #931
Also, familiarize yourself with what `findOrCreateEach` actually does if you don't already know!  It may not be as obvious as one would expect: https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/semantic/findOrCreateEach.test.js#L29

TLDR: 1st argument is an array of attributes to `findOne` using array of objects in 2nd argument.

[2015-04-06 14:40] Globegitter commented on #931
Also on that note, I am halfway-through implementing a `findAndModify` function with upsert support. See: http://docs.mongodb.org/manual/reference/command/findAndModify/

For that I also followed the current way and implemented a `findAndModifyEach`, but purely intended as a helper function. I don't want to drift off the main topic of this discussion but I think it fits here and would be a good qu

[2015-04-06 14:42] dmarcelino commented on #931
helper methods:

  - createEach
  - findOrCreateEach (*DEPRECATED*)
  - findOrCreate
  - findOneLike
  - findLike
  - startsWith
  - endsWith
  - contains

Based on your Collection attributes you also have dynamic finders. So given a `name` attribute the following queries will be available:

  - findOneByName
  - findOneByNameIn
  - findOneByNameLike
  - findByName
  - findByNameIn
  - findByNameL

[2015-04-06 14:45] dmarcelino commented on #931
How about moving dynamic finders to a separate (and optional) module/project? That way people who wanted to use them could use them and waterline core would have a tighter API.

[2015-04-06 14:50] Globegitter commented on #931
I actually just had the same thought - having it as a simple `npm i waterline-extended --save` without any other setup would be a good solution as well. But how should adapters be handling that then?

[2015-04-06 14:52] devinivy commented on #931
That's a great idea.  I do like the simple `findBy{attr}` and `findOneBy{attr}`.  The rest are unnecessary, but a module that adds them would be a reasonable middle-ground.  Especially if a community member who cares about that functionality wanted to lead the project.

[2015-04-06 14:59] dasher commented on #931
Perform a survey by scanning github projects that have waterline as a
dependency and check to see if the dynamic methods or the findAndxx methods
are used - then publish the results.

It's pointless to make a change if those features are used by a majority of
projects.
On 6 Apr 2015 4:45 pm, "Dário" <notifications@github.com> wrote:

[2015-04-06 16:14] devjones commented on #779
+1. Experiencing a similar issue.

Campaign Model is in my primary database.  Connection established with sails-postgresql adapter
autoPK: true,

Reference to geonames:
[code]

Geoname Model is in a *separate* database. Connection established with sails-postgresql adapter.
```autoPK: false```

Primary key setup:
[code]

When I attempt the following command, I get an error:
```Campaign.find().popul

[2015-04-06 17:36] devinivy commented on #779
Sounds like there's a bug here!  Marking as such.  @particlebanana any thoughts about this?  Thoughts on if this a problem with the integrator or query portions of waterline core?

[2015-04-06 17:48] dmarcelino commented on #779
@devjones, would you mind trying the changes from PR #789 (branch: [bradshja:master](https://github.com/bradshja/waterline.git)), it has been reported to fix https://github.com/balderdashy/waterline/issues/833#issuecomment-74275620 - Join failing across adapters.

[2015-04-06 19:37] dmarcelino commented on #609
If anybody feels this hasn't been answered adequately please reopen.

[2015-04-06 19:37] #609 closed

[2015-04-06 20:29] DrAlexMV commented on #354
+1

[2015-04-06 22:22] esevece commented on #545
Sorry @dmarcelino, I don't remember what was my issue here. I stopped working in the project where I was using `sails-disk`, but I can't remember why I needed it.
So, I think it works correctly as you mentioned.
Thank you.

[2015-04-06 22:22] #545 closed

[2015-04-06 22:25] dmarcelino commented on #545
No worries, thanks reporting back!

[2015-04-07 01:17] kevinburkeshyp opened #933 "set a timeout on a request?"
is there a way to set a timeout on a database call?

trying to figure out if this is something Waterline should provide, or whether I should just add a setTimeout call with some kind of canceler if the query doesn't complete in time... (is there a way to cancel queries)?

[2015-04-07 02:34] devinivy commented on #933
There's no way to set this, but it's a good idea!  I'm going to mark this as a feature request for the community to remark on.  It's possible that this job should be given to the adapters, but waterline could theoretically handle it in some ways too.

[2015-04-07 02:38] devinivy commented on #533
See #934 .

[2015-04-07 03:31] tjwebb commented on #933
This is supported by some adapters, e.g. https://github.com/cnect/sails-sqlserver (via `requestTimeout`), and other adapters whose drivers accept that kind of config value. But no, there's currently no standard waterline way of doing this.

+1 good idea

[2015-04-07 04:54] mkeremguc commented on #880
either waterline/adapter related or node 0.11/0.12 related, i'm almost sure there is a memory leak. because the 1gb used memory doesnt get gc-ed and freed back to the system.(tried on linux and mac) also tried with sails-mongo now and similar issue.

btw although it stays around 200mb with node 0.10 with my use case, it doesnt mean there is no memory leak. it feels like node is limiting there beca

[2015-04-07 09:44] dmarcelino commented on #933
This makes sense: :+1: .

I'm thinking it would be good to set this up via config, where it would be possible to have different configs for different DBs.

[2015-04-07 11:03] devinivy commented on #927
If this isn't answered sufficiently, we can reopen the issue.  But that sounds good to me!

[2015-04-07 11:03] #927 closed

[2015-04-07 11:45] dmarcelino commented on #880
@mkeremguc, can you please create a load test (you can use [this](https://github.com/balderdashy/waterline-adapter-tests/tree/load_test) as a base) with nested creates that show evidence of a memory leak? So far we haven't been able to reproduce your findings.

[2015-04-07 11:47] devinivy commented on #908
I cannot recreate this, sadly.  I've written a test here: https://github.com/devinivy/waterline-adapter-tests/commit/686769856a226b78d32eae7d85b3655d8084597e .  Let me know if it fails for you, or if there's some difference in our models causing the issue.

[2015-04-07 15:29] kevinburkeshyp commented on #933
As far as I could see there are two use cases:

- my API must respond within 30 seconds, so set the maximum length for a DB query to 25-26 seconds (the DB wide setting)

- some (or more) individual endpoints has a very strict latency requirement, or we don't care if one particular query takes a very long time to run (individual query setting)

Personally I care more about the individual query sett

[2015-04-07 15:35] dmarcelino commented on #839
I'm actually of the opinion waterline should be triggering these events. I mean, all adapter methods (with the exception of custom methods) are called by waterline itself, so waterline *knows* when a connection is registered or a table is created, etc. We can do it once in waterline instead of repeating it across all adapters, unless I'm missing something...

[2015-04-07 16:59] anasyb commented on #929
Thanks @Globegitter! Those duplicate findOrCreate originate from independent API requests. If I understood you correctly that solution doesn't apply for my case.

I have very high find to create ratio, maybe 99% of the time I will be finding, and only 1% creating. For now I restructured the db and used the unique indices trick. When this issue happens, the db will return a duplicate key error.

Si

[2015-04-07 17:18] dmarcelino commented on #855
@Globegitter, I just stumble upon #266 which this issue seems to duplicate. If you agree can you close this and comment there? Thanks.

[2015-04-07 17:23] #768 closed

[2015-04-07 17:24] dmarcelino commented on #766
If you feel this hasn't been replied in full, please reopen.

[2015-04-07 17:24] #766 closed

[2015-04-07 17:26] dmarcelino commented on #699
Closing this for now, please reopen if PR #889 doesn't fix this,

[2015-04-07 17:26] #699 closed

[2015-04-07 17:27] Globegitter commented on #855
@dmarcelino You are right, if this issue also covers the `not: null` it is a duplicate and it certainly makes sense to move that to the same issue.

[2015-04-07 17:27] #855 closed

[2015-04-07 17:30] dmarcelino commented on #855
Good stuff! It's impressive how many good features have been suggested 6-10 months ago and still haven't been implemented. Though I'm optimistic given how much progress has been made recently! :smile:

[2015-04-07 17:31] Globegitter commented on #266
As I mentioned in #855 I needed this feature as well with the special case of filtering for `null` or rather `not: null`.  Which basically means I only want to find records that have a certain relation attached to them. Ideally this would work with and without actually populating that association in the original model.

[2015-04-07 17:32] dmarcelino commented on #692
I did say it was a workaround :wink:

It just occurred to me, a simple "solution" to this would be to overwrite the records `toString` to something like:
[code]

Are we currently doing anything with the `toString` of the records?

[2015-04-07 17:33] kevinburkeshyp opened #936 "results of a security audit?"
Has Waterline been subject to any type of professional security audit? For each (or any) backend has any verification been done to ensure that the library is not vulnerable to SQL injection?

[2015-04-07 17:37] anasyb commented on #908
I couldn't run the test, am not familiar with waterline tests... can you point me to some instructions on how to run waterline-adapter-tests?

I have an update: It turned out the array doesn't have to be empty! I tried creating nested records (which never happens with my app) and discovered something very interesting
[code]

This leads me to think it has to do more with sails-mongo. Its still puzz

[2015-04-07 17:41] dmarcelino commented on #201
I would like to resurrect this feature request. Instance methods are nice but we lose them once we JSONfy the record. Ideally it would be great to have virtual attributes that could be exported to JSON.

@stevesims's suggestion in https://github.com/balderdashy/waterline/issues/201#issuecomment-30924443 looks good to me:
[code]

[2015-04-07 17:45] devinivy commented on #936
I'm unsure whether waterline or any organization using waterline has be audited in this way.  That said, I can tell you that this would be up to individual adapters to take care of primarily.  There is a [test](https://github.com/balderdashy/waterline-adapter-tests/blob/f0981e95fc3df9c9bdb2ecf2371f932a90119e23/interfaces/semantic/find.test.js#L73-L79) in the waterline adapter tests that deals with

[2015-04-07 17:46] dmarcelino commented on #329
Please reopen if this hasn't been fully answered.

[2015-04-07 17:46] #329 closed

[2015-04-07 17:48] dmarcelino commented on #817
@tavai89 have you found an answer to this question?

[2015-04-07 17:49] devinivy commented on #201
+1 and I think the suggestion here looks great.

[2015-04-07 17:53] devinivy commented on #908
I'm unsure, but the error didn't appear in tests that Travis CI ran for mongo.

To run the tests for all community adapters: `npm test`
Tu run the test for a particular adapter: `node test/integration/runner.js {adapter-name}` (e.g. `node test/integration/runner.js sails-memory`)

Config for each of the adapters is in `test/integration/config`

[2015-04-07 18:07] devinivy commented on #936
I see you opened an issue on the prostgres adapter here: https://github.com/balderdashy/sails-postgresql/issues/144
Would you like to close this out or leave it open for comment?

[2015-04-07 19:37] tjwebb commented on #201
Here's one way to do this currently: https://github.com/tjwebb/sails-auth/blob/master/api/models/User.js#L24-L36

[2015-04-07 22:19] particlebanana opened #937 "0.10.20 breaks saves on populated models"
I know when we merged #924 we were removing the ability to call `.save` on individual populated collection items but didn't think to check populated model associations. So in the classic pet user example:

[code]

If it wasn't documented anywhere that's fine but we should check for it so it doesn't throw.

edit: crashing here https://github.com/balderdashy/waterline/blob/master/lib/waterline/model

[2015-04-07 22:33] devinivy commented on #937
Ah!  Relatedly: https://github.com/balderdashy/waterline/pull/829#issuecomment-74443706

[2015-04-07 22:52] particlebanana commented on #937
Trying to write a test for it and I can't seem to re-create it. Stack trace if anyone figures it out in the meantime.

[code]

[2015-04-07 23:17] blah238 commented on #937
Sorry if this got broken. Perhaps what we need is to differentiate read-only finds (for better performance/reduced memory overhead) and update-able finds with association caching or whatever zany business is going on in there. Either way, populating still takes up way too much memory.

[2015-04-07 23:32] particlebanana commented on #937
I'm down for removing the `.save` instance method if it adds too much overhead but we can't break stuff in `0.10` patches so that's what I'm worried about. I'm working on a test in wl adapter tests. Looks like we weren't testing `.save` at all in there.

[2015-04-07 23:35] tjwebb commented on #937
fyi, `_.keys(null)` does not fail.

Yea ideally we don't want to break stuff in patches, but there's no way to know right now. We're evolving the waterline-adapter-tests very rapidly and we're improving coverage every day. Whatever conditions produce this issue will be added to waterline-adapter-tests

[2015-04-08 11:11] Globegitter commented on #931
This should then also be used to simplify things.

There are for example two `findOrCreate` and two `findOrCreateEach` functions which makes it a bit complicated to understand what function gets called when and also has more duplicate code. Doing some tests in my app it seems that `findOrCreate` in `lib/waterline/query/composite.js` is the 'main' function and gets called all the time, where-as the

[2015-04-08 12:03] dmarcelino commented on #937
@particlebanana, I [searched for save](https://github.com/balderdashy/waterline-adapter-tests/search?utf8=✓&q=save) in the wl adapter tests and I can see we only test it in the context of `.add()` and `.remove()`.

Meanwhile I've a added a test for this and was able to reproduce the error [Object.keys called on non-object](https://travis-ci.org/balderdashy/waterline-adapter-tests/jobs/57631980#L24

[2015-04-08 13:33] devinivy commented on #931
I don't know if there are any peculiarities around these particular methods.  But generally speaking, here's how it works:

Methods in `lib/waterline/query` live on the Collection object.  The Collection object eventually needs to ask an adapter to do its dirty work.  The methods in `lib/waterline/adapter` do the dirty work of delegating specific queries to the relevant connection/adapter.

[2015-04-08 13:51] Globegitter commented on #931
The main reason I am mentioning it is because to begin with it was quite hard to get into what is actually happening since the functions themselves look very similar and well - they look very similar. So there is a lot of almost duplicate code. Similar checks being done, both have call `find/findOne` and `create` under circumstances. So I just wonder if there (and possibly also in other functions)

[2015-04-08 14:09] Globegitter commented on #929
@anasyb that sounds like a valid use-case. Might be good for you to chime in on https://github.com/balderdashy/waterline/issues/931

[2015-04-08 14:23] tjwebb commented on #931
I added a feature that lets you set `dynamicFinders: false`. Initially, we could just change the default value of this to `false` for the next minor release, and see how that goes. That'd be less destructive than ripping out a bunch of code.

[2015-04-08 14:52] dmarcelino commented on #937
A potential path to fix this issue is to partially revert PR #829, I've committed aa29dcc for you to take a look. This passes the adapter tests in PR balderdashy/waterline-adapter-tests#46. The only caveat of this is that we increase the memory footprint that PR #829 aimed to fix.

[2015-04-08 15:43] particlebanana commented on #937
I say let's revert it for now simply because if there are people using it, even undocumented, it's been stable for 19 releases. Let's add it back in 0.11 and see if we can look at ways to further decrease the populated footprint.

:+1:  on the adapter tests @dmarcelino those things are getting nice!

[2015-04-08 15:48] dmarcelino commented on #937
Agreed, issued PR #938.

Thanks @particlebanana, recently there have been some very good contributions towards it. Talking of which, I would really like to get your attention on balderdashy/waterline-adapter-tests#41 which allows to fix the breaking tests on sails-memory and sails-disk ;)

[2015-04-08 15:56] dmarcelino commented on #937
@devinivy, @tjwebb, @particlebanana, on the topic of bug squashing and stability, we should seriously look into the following for `0.10.21`:
* this one, obviously: #938 / balderdashy/waterline-adapter-tests#46
* Use correct foreign collection during nested update creation/link step: #934 / balderdashy/waterline#930
* Fix crash for nested model create within update query: #930
* Add Interface SQL (

[2015-04-08 17:20] particlebanana commented on #937
* #938 / https://github.com/balderdashy/waterline-adapter-tests/pull/46 - looks great
*  https://github.com/balderdashy/waterline-adapter-tests/pull/41 - looks great

As for #934 #930 I'll have to read up on them some. It sounds like it's just an issue of using the attribute name instead of the referenced model right?

[2015-04-08 17:39] particlebanana commented on #937
I don't see anything bad about #934 as a standalone PR and if https://github.com/balderdashy/waterline-adapter-tests/pull/44 passes all the tests afterwards that is golden. Thanks for that work on refactoring the tests @devinivy!

Still going through #930

[2015-04-08 17:47] devinivy commented on #937
@particlebanana the most important thing about #934 right now is that there's a claim that nested updates duplicates the `createBelongsTo` routine (https://github.com/balderdashy/waterline/pull/930#issuecomment-90324885).  To stop that duplication, #930 seems to be a reasonable solution.

[2015-04-08 18:52] dmarcelino commented on #897
Added PR #941, the final task to complete this issue.

[2015-04-08 19:09] dmarcelino commented on #937
Merged both #938 and balderdashy/waterline-adapter-tests#46, so this issue can be considered fixed.

@blah238, @nbiton, given I partially reverted #924 we've lost some of the memory/speed improvements but I'm sure everyone will welcome another effort! Besides, now we have more tests to cover potential issues! :smiley:

[2015-04-08 19:15] particlebanana commented on #937
@devinivy @dmarcelino #934 and #930 should be good. They work together and should be fine if they pass all the tests.

[2015-04-08 19:15] #897 closed

[2015-04-08 20:03] #937 closed

[2015-04-08 20:06] dmarcelino commented on #644
Fixed via PR #930. If the latest master version doesn't fix this, please reopen.

[2015-04-08 20:06] #644 closed

[2015-04-08 20:35] dmarcelino commented on #429
@devinivy, finally looked into this, when run the same test with `schema: true`, these are the values passed to `adapter.update()`:

[code]

I'm starting to think that waterline core is broken and that sails-memory/disk were built to cope with it...

[2015-04-08 20:37] devinivy commented on #429
A hunch!

[2015-04-08 22:12] leejt489 commented on #658
After reading the slides on Waterline2 I've been sort of waiting to see where Waterline is heading.  But as a Mongo user I'm wondering if we can expect Waterline to support some of the key features, like embedded documents, that really improve the performance of MongoDB.  After attending one of their conferences I walked away feeling pretty sad about what I was doing in Mongo through Sails / Water

[2015-04-09 00:34] devinivy commented on #658
It's up to the adapters to deal with this, for the most part.  Of course, any way waterline can facilitate the adapters with embedded documents would be great.  It's certainly crucial that waterline get good at empowering schemaless databases!

[2015-04-09 08:05] nitulkukadia opened #943 "model.create - primaryKey"
I have below model with primary key id:
attributes: {
  id: {
    type: 'integer',
    autoIncrement: true,
    primaryKey: true,
    unique: true
  },
  name: {
      type: 'string',
      unique: true,
      required: true
  },
}

I am creating model as below:
 var model = {
        id: undefined,
        name: 'name',
};
 waterlinemodel.create(model).exec(function(error, result) {});

But it th

[2015-04-09 09:16] dmarcelino commented on #943
Hi @nitulkukadia, instead of setting `id: undefined` have you tried not setting `id` at all? Which adapter are you using?

[2015-04-09 09:48] Globegitter commented on #931
@tjwebb From what I can see this would not disable `findOrCreate/findOrCreateEach` (nor `findAndModify`) though.

[2015-04-09 12:16] rathahin commented on #308
+1  Model.findOne().populate('children.children.children').exec();

[2015-04-09 13:29] nitulkukadia commented on #943
According to java script. If I do not define id or i assign value as undefine both are same. Still it gives me an error.

[2015-04-09 13:35] tribou commented on #887
Forgive me if I'm missing something obvious, but what strategy are you supposed to use with waterline to migrate a production schema with a SQL adapter?  [Sequelize-CLI](http://docs.sequelizejs.com/en/latest/docs/migrations/) or gulp tasks, etc??

[2015-04-09 16:11] particlebanana commented on #887
@tribou we use https://github.com/BlueHotDog/sails-migrations and it's worked out really well

[2015-04-09 16:27] anasyb commented on #931
I like findAndModify with option flags, its so extendable and battle tested... also the mongo db guys did a good job in documenting many use-cases of it.
I for one:
- don't use dynamic attributes finders, I prefer the using consistent code style that always separate Model/action/criteria
- would never use `findOrCreateEach`, I think its counter intuitive... just like devinivy said in his second co

[2015-04-09 16:36] dmarcelino commented on #943
That's not true, if you do something like:
[code]

You'll see that setting `id` to undefined it's different than not setting `id`.

Anyway you haven't told us which adapter you're using.

[2015-04-09 17:45] stenio123 commented on #308
+1

[2015-04-09 19:45] tribou commented on #887
Thanks @particlebanana!  Looks like a good defined migration option.

[2015-04-10 02:55] devinivy commented on #588
@ArdentZeal it's been a week, so I'm going to close this out.  The current version of waterline has the fixes that I expect fix this issue.  If not, we'll happily reopen the issue!

[2015-04-10 02:55] #588 closed

[2015-04-10 02:58] devinivy commented on #555
The mysql adapter can do this when environment variable `LOG_QUERIES` is `true`.

The sails-postgresql adapter does not have this functionality, but if you'd like to help get it in, add a PR or issue over at https://github.com/balderdashy/sails-postgresql.

[2015-04-10 02:58] #555 closed

[2015-04-10 03:04] devinivy commented on #822
This is actually a bug that has been fixed in the tests (https://github.com/balderdashy/waterline-adapter-tests/pull/44) and the code (https://github.com/balderdashy/waterline/pull/934)!  Thanks for bringing it up!

[2015-04-10 03:04] #822 closed

[2015-04-10 03:11] devinivy commented on #630
This appears to be fixed: https://github.com/balderdashy/waterline/commit/900d7d13a0b76baa4e6b3ad980d8a4eb8ccc98d7

We'll reopen if anyone finds otherwise!

[2015-04-10 03:11] #630 closed

[2015-04-10 03:22] devinivy commented on #687
Let's crush these!
https://github.com/balderdashy/waterline/search?utf8=%E2%9C%93&q=globalId

[2015-04-10 03:29] devinivy commented on #701
For mongo you can make low-level queries using `Collection#native`.  See: http://stackoverflow.com/a/21297330/4716094 .

If you need any more clarification around this issue, we can reopen!

[2015-04-10 03:29] #701 closed

[2015-04-10 08:21] nitulkukadia commented on #943
I am not using any adapter. I am just using a waterline model method to create model.

But blow code prints undefined for id and undefinedProperty.

var obj = {
  id: undefined,
  someProperty: 1
};
 console.log(obj.id);
 console.log(obj.undefinedProperty);

[2015-04-10 10:57] tjwebb commented on #943
@nitulkukadia Just because console.log prints the same value does not mean and `undefined` value and a **missing** value are the same in Javascript. They are very different.

Are you filing this issue because you honestly want to set an actual database id to `undefined`? This is impossible, and is not something any ORM is going to support.

[2015-04-10 10:57] #943 closed

[2015-04-10 11:45] devinivy commented on #943
@tjwebb I think that @nitulkukadia wants waterline to strip `undefined` properties.

[2015-04-10 15:07] ddallaire opened #944 "Populating many-to-many is incredibly slow."
I am having a problem with many-to-many associations in waterline/sails, it takes forever to execute my query when I populate a many-to-many relationship.

Here is what my query looks like :

    Commit.findOne({ idCommit: req.param("id") })
     .populate('user')
     .populate('project')
     .populate('issues')
     .exec(function(err, commit) {
    }

I am using the mysql adapter, the problem

[2015-04-10 15:12] devinivy commented on #944
This is a known issue that's being worked-through.  We'd love any help or results you've head!  Related PR: #924.  Related issues: https://github.com/balderdashy/sails-mysql/issues/161 and https://github.com/balderdashy/sails-postgresql/issues/141

[2015-04-10 15:23] ddallaire commented on #944
I will gladly look into the code when I find some time for it. I tested PR #924 with no improvements. I will need to find a way to make my query faster before looking into that, thanks.

[2015-04-10 17:39] kevinburkeshyp opened #945 "Write and publish responsible disclosure policy"
- If I find a critical vulnerability in the waterline codebase, how should I communicate it to the core team?
- What guarantees are given about time to a patch?
- Will reporters be credited for their work in finding a vulnerability?
- How are critical security vulnerabilities disclosed to the community?
- Are vulnerabilities given a CVE number?
- Once you write a page like this, [how can I be expe

[2015-04-10 17:40] tjwebb commented on #943
A primary key cannot be undefined, or missing

Either way though, magically stripping undefined values would cover up a
lot of legit validation errors. If an undefined value makes some validation
fail, then I think it *should* fail.
On Apr 10, 2015 7:53 AM, "devin ivy" <notifications@github.com> wrote:

[2015-04-10 17:43] devinivy commented on #943
Yes, agreed!

[2015-04-10 19:04] particlebanana commented on #945
This would be great! We'll take a stab at getting something together soon.

[2015-04-11 11:29] Esya commented on #754
I just started implementing this change, pull-request incoming soon.

[2015-04-11 17:51] devinivy commented on #754
See @Esya's PR https://github.com/balderdashy/waterline-schema/pull/23

[2015-04-12 04:10] jonathanwiesel opened #947 "Include total amount of pages/records when using paginate"
I believe it would be really useful when using `paginate()` that you could have the total amount of pages (or at least record) available, so you can:

* Prepare your UI for the amount of pages available.

* You can select a specific page instead of keep incrementing your `page` parameter until you reach an uncertain end in some point.

[2015-04-12 04:45] jonathanwiesel opened #948 "Find using association attributes criteria"
Is there a way to successfully achieve the following scenario?:

We have 2 models, `Pet` and `Person`.
A `Person` can have multiple `Pets` (via `pets` attribute collection) and a `Pet` can only be owned by a single `Person` (via `owner` attribute).

Simple one-to-many association.

If I would like to find all cats whose owner is female, could I do something like this:

[code]

Or something similar

[2015-04-12 14:46] devinivy commented on #947
I'll let some people chime-in here.  I don't think this is a good direction for waterline, though, given that it would be easy to use `Collection#count` to achieve this.  This feature would require `paginate` to do additional queries, and some users may not want that.

[2015-04-12 16:21] tjwebb commented on #947
You can always run a `count` query separately, right? Not all users may want or need a count; e.g. a total count is unnecessary when using infinite scrolling to page results.

[2015-04-12 19:16] randallmeeker commented on #947
In order for it to be a non breaking change waterline would have to return a second value. Something like ```.exec(err, result, totalrecords)```

It do have plenty of pagination in sails that lack the total count and people just surf next / previous. But that is probably a result of me just being lazy and not wanting to write the extra query. If sails did it already then it would probably have bee

[2015-04-12 22:42] mattapperson commented on #427
@clarkorz still at a stand still with this?

[2015-04-12 23:20] kevinburkeshyp commented on #947
From experience at a previous company, `SELECT COUNT(*)` gets extremely problematic when a) the counts get extremely large and b) you're doing a lot of writes. You also can't turn it off if you've documented it as part of your public API.

Depending on the table design, fetching a specific page of records gets extremely problematic as well as data sets get large. say you fetch page 7 (`SELECT ...

[2015-04-13 01:51] randallmeeker commented on #947
@kevinburkeshyp You could turn it on and off if its triggered by the API. ```MODEL.find({returnTotalCount=true}).exec(function(err,result,count){/*...*/}``` The default could be false so that waterline works the same as previous versions, but allow for a second value to be returned with the count for those who with to turn it on. (however I defer to my statement above where it maybe more work that

[2015-04-13 03:33] tjwebb commented on #945
@kevinburkeshyp Thanks for the suggestion. We'll continue the discussion here, which we'd apply to sails and waterline: https://github.com/balderdashy/sails/issues/2830

[2015-04-13 03:33] #945 closed

[2015-04-13 21:45] cadrogui commented on #308
+1

[2015-04-13 22:47] HerrZatacke commented on #308
+1

[2015-04-13 22:47] HerrZatacke commented on #308
+1

[2015-04-14 08:31] nitulkukadia commented on #943
@tjwebb   If an undefined value makes some validation
fail, then I think it *should* fail.

Yes it should fail the validation, you are right.
But I think:
Update and delete operation can be performed by deletion based on id.
But, while creating model record in database, primary key never exist. Primary key created only after inserting record in database.
So, while creating, why waterline is lookin

[2015-04-14 10:57] tjwebb commented on #943
You're fundamentally mistaken about how databases work. There exists no database where you can define a `PRIMARY KEY` field and be able to insert a null/undefined value.

[2015-04-14 11:18] devinivy commented on #943
I think @nitulkukadia is saying that it's some sort of auto-increment / uuid column that _will be_ assigned at the time of record creation by the database itself.  That said, I still think waterline needs to report a failure if the id is specified but not actually set.  After all, even in an auto-incrementing column you _can_ often set the primary key manually.

[2015-04-14 14:24] FWoelffel commented on #73
+1 Would love it

[2015-04-14 15:56] tjwebb commented on #943
Depends on the database. You cannot do this in SQL Server, for example. But even where you are allowed to manually set it, you still cannot ever set it to `null`.

[2015-04-15 15:18] athk commented on #308
+1

[2015-04-15 15:45] devinivy commented on #308
If you're interested in the future of this feature, please subscribe above– works even better than a +1!

[2015-04-16 16:28] ameilland opened #950 "Use dynamical attribute in find"
Hi,

Is there a way to use a dynamical attribute in the query?

For example: User.find({key: 'test'});

Key has a dynamic value. It can be: first, last or email.

How can I get it to work?

Thanks,

[2015-04-16 17:44] devinivy commented on #950
This is a general programming pattern, not waterline-related.  To have a variable key name there, you need to create the `find` criteria in a couple steps.  The code should look something like this:
[code]

I'm going to close this out as a non-issue, but if you're not satisfied with that answer or if I misunderstood, we can reopen it!

[2015-04-16 17:44] #950 closed

[2015-04-16 19:27] mikehostetler commented on #885
@formula1 This is fantastic, but I fear it may be a big large to process, which is why it's been stale for 24 days now.

Any thought to breaking it apart a bit?

I like a lot of your suggestions and would like to see them discussed a bit more, but grokking it all in one thread is tough.

[2015-04-16 20:11] formula1 commented on #885
Absolutely. Thanks for the feedback, I do know its a lot to request and for what its worth I tagged it as enhancement because I know how the feeling of requests. Would you like different issues or Just seperate it here?

[2015-04-16 23:30] particlebanana commented on #885
@formula1 thanks for this and for taking the time to be so invested in Waterline. This started off as a crazy idea around a single database (mysql) and has turned into something much bigger. @mikermcneil wrote the original version over a holiday and over the past two years the number adapters and contributors has exploded. Something that we made to work for a few people is now being used by thousa

[2015-04-17 09:53] dmarcelino commented on #783
@camel-chased, can you try the fix in #928 to check if it fixes your issue please?

[2015-04-17 09:59] camel-chased commented on #783
i don't work on waterline any more but i make something like to make it work:
https://github.com/camel-chased/sails-redis/commit/53d7f4e584c9e40a210265b6e8c5d0368afe156d

[2015-04-17 10:00] dmarcelino commented on #783
Thanks

[2015-04-17 11:06] dmarcelino commented on #947
I think the best solution for this issue is #918.

Alternatively the user can do 2 separate queries as @tjwebb suggested as it's probably more transparent than having waterline doing it under the covers.

[2015-04-17 11:13] dmarcelino commented on #639
Closing this as abandoned, please reopen if this hasn't been fully addressed.

[2015-04-17 11:13] #639 closed

[2015-04-17 11:21] dmarcelino commented on #579
Please reopen if bd5152416753d035086825e021e8b11eeb2e0f78 hasn't properly addressed this issue.

[2015-04-17 11:21] #579 closed

[2015-04-17 11:43] dmarcelino commented on #360
I believe the solution to this is to use **one-to-many**. In terms of what gets saved to DB one-to-many is not much different than one-to-one (do note this does depends on adapter implementation) but if you take a look at [this explanation](http://orientdb.com/docs/last/Tutorial-Relationships.html#1-to-1-relationship) you'll see both only require a FKey per association. In other words I would say:

[2015-04-17 11:43] #360 closed

[2015-04-17 11:45] dmarcelino commented on #948
This is not yet possible, take a look at #266 which is the request for the same feature.

Please reopen if this doesn't fully answer your question.

[2015-04-17 11:45] #948 closed

[2015-04-17 11:53] dmarcelino commented on #944
Unfortunately PR #924 was reverted by PR #938 as it was breaking the API but any help would be appreciated.

[2015-04-17 11:57] #817 closed

[2015-04-17 11:58] dmarcelino commented on #744
Please reopen if you feel this hasn't been fully addressed.

[2015-04-17 11:58] #744 closed

[2015-04-17 12:02] dmarcelino commented on #825
Closing this as abandoned.

[2015-04-17 12:02] #825 closed

[2015-04-17 12:07] dmarcelino commented on #826
Closing this as a duplicate of #835, given the latter has more participants. Please reopen if you feel otherwise.

[2015-04-17 12:12] dmarcelino commented on #826
Actually, I could have been wrong, in #835 the objective is to add a new type called `time` while here the issue is with `datetime`, right?

@gotmikhail, before 0.10.14 were you able to use  `moment` objects?

[2015-04-17 12:17] dmarcelino commented on #835
For reference, the proposed fix is PR #863.

[2015-04-17 12:23] dmarcelino commented on #295
@mphasize, @gaprl regarding *async validations* please open a new issue detailing the feature and how you think it should work, with some examples.

@diosney, regarding error messages please add your comment to #148 which is were it's being handled.

I believe @particlebanana's answer (https://github.com/balderdashy/waterline/issues/295#issuecomment-36771416) properly answers this issue so I'm clo

[2015-04-17 12:23] #295 closed

[2015-04-17 12:31] dmarcelino commented on #790
PR #940 adds this, relevant comment: https://github.com/balderdashy/waterline/pull/940#issuecomment-93937764.

[2015-04-17 12:46] elennaro commented on #755
Are you planning to implement transaction somehow soon?

[2015-04-17 12:58] dmarcelino commented on #755
@elennaro, it's not slated for `0.11` (next big release) and it's not trivial, check https://github.com/balderdashy/waterline/issues/862#issuecomment-83643605 and https://github.com/balderdashy/waterline/issues/885#issuecomment-93861944. So it may take a few more months. Having said that, any help is much appreciated!

[2015-04-17 13:04] dmarcelino commented on #851
Yes, this seems pretty intertwined with #755, it's probably a good idea to move it there for now. @mpduffey please continue this discussion in #755 given transactions are still in the drawing board. Closing this for now.

[2015-04-17 13:04] #851 closed

[2015-04-17 13:21] prisonier commented on #755
Just to give you my feedback on the link i referenced above (http://blog.evizija.si/sails-js-waterline-mysql-transactions/) -> it is perfectly working for MySQL !

[2015-04-17 13:35] elennaro commented on #755
@dmarcelino @prisonier thanks for the answers.

[2015-04-17 14:11] gotmikhail commented on #826
@dmarcelino Correct, it was with `datetime`.

While I was on `0.10.14` I was able to simply send in a `moment` object as a datetime, after the update to `0.10.18` that no longer worked. I turned to using `moment().format()`. That way you're sending a string instead, so that works, but the `moment` object did not.

[2015-04-17 14:12] onceatime commented on #484
any news on this?

[2015-04-17 14:39] dmarcelino commented on #484
@onceatime, this is not slated for [0.11](https://github.com/balderdashy/waterline/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.11) so it will probably take some time. Having said that, any help would be welcomed!

[2015-04-17 14:53] dmarcelino commented on #826
@gotmikhail, can you check if PR #764 fixes your issue? It has been merged to master so you just need to try the latest github version.

[2015-04-17 15:25] onceatime commented on #484
ok will look into waterline and try to help. my situation is this i use ember as a frontend end sails as my api provider ( wont go back to rails again ). In ember i have pages and posts both of them are commentable.

do you see any workaround for this ( without blowing everything up with multiple models )....

in sails i have this for my page ( and also posts )
[code]

and in comment ( right now )

[2015-04-18 13:22] myusuf91 commented on #308
+1

[2015-04-18 18:43] nachiket-p commented on #308
+1

[2015-04-19 00:00] AnalogJ commented on #469
This isn't working for me either in Sails v0.11.0
Is this a verified bug? Or just an unimplemented feature?

[2015-04-19 09:02] sucheep-sri opened #955 "Condition in populate is not working."
Image.find().populate( 'user', {status : 'ban'} ).sort({ updatedAt: 'desc' }).exec(function(err, images){
    console.log(images);
});

I want to query image table that where user.status = 'ban'.
But my code is not working. It showed all image rows with all user.status.

[2015-04-19 11:48] dmarcelino commented on #955
Hi @sucheep-sri, a couple of questions:
* which adapter are you using?
* Have you tried it without the `.sort()`? (wondering if `.sort()` is interfering with `.populate()`)

[2015-04-19 14:36] sucheep-sri commented on #955
- I use sails-mysql.
- Yes, I have but it's still same.

[2015-04-19 16:21] dmarcelino commented on #469
@mkeremguc, @AnalogJ, which adapters are you using?

Regarding `.where({groups: [1,2]})`, are `1` and `2` primary keys?

[2015-04-19 18:40] dmarcelino commented on #915
Regarding the coverage report I mentioned earlier, it's now possible to check it here: https://codeclimate.com/github/balderdashy/waterline/lib/waterline/query/finders/helpers.js

[2015-04-19 18:48] dmarcelino commented on #429
Just for reference, as mentioned on https://github.com/balderdashy/sails-mongo/issues/254#issuecomment-94304674, I've tried commenting out [schema.js#L198](https://github.com/balderdashy/waterline/blob/713d9677dec0e0a252028eab67e8007b665b07be/lib/waterline/core/schema.js#L198):
[code]

And it makes all sails-orientdb tests pass when `schema: 'false'` which is a big improvement! So I think @deviniv

[2015-04-19 19:28] devinivy commented on #429
I don't have access to a computer with node today, but I can provide a PR soon!  I understand the problem at hand.  We also need failing tests, so if anyone wants to write those, that'd be amazing.  The tests should ensure that when `schema: true`, adapter methods `update` and `create` receive values with collection and non-defined attributes stripped.  When `schema: false`, adapter methods `updat

[2015-04-19 19:44] devinivy commented on #955
As-is your query should return every single image.  On each image should be the associated banned users.  Consider flipping your query around:
[code]
Related: https://github.com/balderdashy/waterline/issues/266

[2015-04-19 20:18] anasyb commented on #908
Couldn't run the tests... giving me some errors.

In any case, I've created a [mini-project](https://github.com/anasyb/waterline-issue-908), if you can run `sails console` and paste the following:

[code]

Now checkout the mongo db for all crazy things:

[code]

So you can see there are two relationships set to `[object Object]` instead of their real id. The first is in an association that's store

[2015-04-19 20:23] dmarcelino commented on #955
Yes, @devinivy is right. Closing this for now, @sucheep-sri please reopen if it doesn't fully answer your question.

[2015-04-19 20:23] #955 closed

[2015-04-20 00:47] mkeremguc commented on #469
@dmarcelino, mysql and mongo

and yes, primary keys

[2015-04-20 02:14] AnalogJ commented on #469
@dmarcelino I'm using postgres

[2015-04-20 07:01] jesucarr commented on #354
Is this planned? and the link to the FR should be this one: https://github.com/balderdashy/waterline/blob/master/ROADMAP.md

[2015-04-20 09:07] Globegitter commented on #294
@ksaitor @itslenny for `updateOrCreate` check out https://github.com/balderdashy/waterline/pull/940

I am generally for the idea but against the third callback. It should be on the results object itself. Otherwise it wouldn't work properly with future syntax such as `async/await`.

[2015-04-20 09:17] elennaro opened #957 "extra fields on many to many relationships join table (feature request)"
I didn't find solution in documentation so I suppose this feature is not implemented.
It's a widely used approach when we save extra data with relation.
Like quantity for sold products in order-product relation.
Like expiration on user-post-ban. etc. etc.

I'd also appreciate any help on how to do it manually.
I've even created a [question](http://stackoverflow.com/questions/29734488/sails-js-extr

[2015-04-20 09:35] dmarcelino commented on #957
Hi @elennaro, what you are asking for doesn't exist yet and it will (or should be) part of many-to-many through associations. Check #705 for checking the current status of through associations.

[2015-04-20 09:45] dmarcelino commented on #354
@jesucarr, tentatively added this to WL_Next milestone which will be the feature release after 0.11.

[2015-04-20 10:26] elennaro commented on #957
Thannk you @dmarcelino.

[2015-04-20 10:28] dmarcelino commented on #957
No worries, would you mind bringing that requirement on the #705 thread? I'd like keep all things related to through associations there and close this issue to keep everything tidy :)

[2015-04-20 10:42] dmarcelino commented on #455
@clarkorz, I believe in order to keep custom adapter methods flexible it would be up to the adapter to implement this when possible / desirable. For instance, a custom adapter method may be sync'ed and may not even return anything which would make it really painful for waterline core to do anything about it...

[2015-04-20 10:44] dmarcelino commented on #312
Closing this as duplicate of #73 (PR #952).

[2015-04-20 10:44] #312 closed

[2015-04-20 10:53] elennaro commented on #957
Sure, thanks again.

[2015-04-20 12:57] Zax opened #958 "Date fields on postgres auto-dec 1 day on sails lift with migrate: 'alter'."
Strange bug,
i configure a model with 'date' field and i observed this field on database (postgres). After all restart (sails lift) the field is decreased by one day, on develelop env (migration set on 'alter').
If i switch env on production (migration set on 'save'), all right.

[2015-04-20 13:20] dmarcelino commented on #958
@Zax, what is your timezone? I believe this is a sails-postgresql timezone issue, check balderdashy/sails-postgresql#153 please.

[2015-04-20 13:35] Zax commented on #958
My timezone now is +2 (Rome). I do not understand why bug is present only on migration:'alter'.

[2015-04-20 13:44] dmarcelino commented on #958
I don't think it's only on `migration:'alter'` because we were able to pick it up on sails-postgresql automated tests by changing the timezone. Anyway, it sounds like the same issue, so I'm closing this one. Please continue the discussion in balderdashy/sails-postgresql#153 so we have a single point of reference.

[2015-04-20 13:44] #958 closed

[2015-04-20 13:50] dmarcelino commented on #705
It would also be good to be able to store data in the join table (association) while saving. Quoting @elennaro (#957):

[2015-04-20 13:50] #957 closed

[2015-04-20 13:52] devinivy commented on #705
Yes, indeedy!  Info on the join table should also be included appear when populating records during a `find`.

[2015-04-20 14:11] elennaro commented on #705
Sorry for a noob question, but is there any manual way to overwrite find for humans somehow to get both Dogs and identity field from friendship?

[2015-04-20 15:07] devinivy commented on #429
PR #959 posted!

[2015-04-20 15:25] dmarcelino commented on #429
@devinivy, your change fixes 1 error from the 4 errors I'm experiencing in sails-orientdb schemaless:
1. Association Interface 1:1 association :: .update() update nested associations() with single level depth when association have primary keys should update association values:
2. ~~Association Interface 1:m association :: .update() update nested associations() with single level depth when associat

[2015-04-20 15:59] devinivy commented on #429
@dmarcelino do you have some tests that would be reusable in other adapters?

[2015-04-20 16:01] dmarcelino commented on #429
The tests I'm mentioning are the default waterline-adapter-tests ran against sails-orientdb schemaless. These pass when `schema: 'true'`.

[2015-04-20 16:10] dmarcelino commented on #429
Given the operation is an update that updates values returned by the adapter itself I'm now wondering the if the existence of some extraneous fields is coming from waterline core or sails-orientdb. An example of such case is `adapter.update()` being called with values:
[code]

`@type` and `@class` are OrientDB record fields and are benign but I haven't yet figured out if `out_driver_taxis__taxi_dr

[2015-04-20 16:45] dmarcelino commented on #429
So, from what I can grasp sails-orientdb is not adding `out_driver_taxis__taxi_drivers` to the values so it seems sails-orientdb is doing this. Why I am not sure...

[2015-04-20 17:31] devinivy commented on #429
@dmarcelino is there a typo up there?  Seems that one of those "sails-orientdb" should be "waterline", but I don't know which one!

[2015-04-20 17:32] dmarcelino commented on #429
Fixed :smiley:

[2015-04-20 17:53] devinivy commented on #429
I noticed that sails-orientdb has adapter methods that directly pass the query down to "connection" methods, which directly pass the query down to "collection" methods.  Do you find those extra properties on the `values` object as early as [here](https://github.com/appscot/sails-orientdb/blob/master/lib/adapter.js#L300)?  That's the method that waterline will call.

[2015-04-20 17:56] dmarcelino commented on #429
But yes, that's precisely where I'm monitoring those properties ;)

[2015-04-20 19:56] dmarcelino commented on #429
@devinivy, the presence of that extra field is a `sails-orientdb` issue. Your fix seems solid and opens a pathway that should allow sails-orientdb to support schemaless mode. Thanks again!

[2015-04-20 20:01] devinivy commented on #429
Very glad!  Let's get that PR reviewed, and hopefully we can close this one out soon!

[2015-04-21 02:25] devinivy commented on #908
@anasyb is it possible that those are ObjectId objects that haven't been converted to strings properly?

[2015-04-21 02:36] anasyb commented on #908
I guess so... probably due to the same thing thats emitting the error msg... which I get in the linked project even with
[code]
Or maybe its the other way around: the lack of conversion of the BSON ObjectId is what's causing the error in the first place...

[2015-04-21 02:46] anasyb commented on #908
Probably not... just changed the project to use sails disk, and am getting the same error msg when I run that line. Weird though: doesn't the disk adapter check of PK duplicates, I was able to insert it couple of time with the same `5534011a298300641fe19a98` ID?!

[2015-04-21 07:55] formula1 commented on #885
@particlebanana That sounds like development :)! I definitely can understand why waterline has become the way it is, both the good and the bad. I definitely don't blame you, Sails or anyone for not not fixing what isn't broken. I really appreciate everyone's attitude towards it and I can definitely sense an air of pride all criticisms aside. This took time, sweat, maybe some tears and thought to b

[2015-04-21 10:04] dmarcelino commented on #936
balderdashy/sails-postgresql#144 seems to be progressing more, closing this for now, please reopen if you feel otherwise.

[2015-04-21 10:04] #936 closed

[2015-04-21 13:27] devinivy commented on #908
@anasyb please give this branch of mine a try, and let me know how it goes.  It seems to fix the problem for me.

https://github.com/devinivy/sails-mongo/tree/patch-insert-ids

[2015-04-21 14:28] devinivy commented on #908
The reason sails-disk isn't acting as expected has something to do with using mongo strings instead of integers.  If you use integers there it works.  I think there is a problem with key uniqueness in that adapter when you specify the key upon creation.

[2015-04-21 16:45] dmarcelino commented on #826
@gotmikhail I'm closing this for now assuming #764 fixes this, please reopen if that's not the case. Thanks

[2015-04-21 16:45] #826 closed

[2015-04-21 16:50] dmarcelino commented on #819
Another related suggestion brought by @GaryLCoxJr on #665:

[2015-04-21 16:51] dmarcelino commented on #665
@GaryLCoxJr, your request is very similar to #819 (PR #832) so I'm merging both issues in #819. Please continue the discussion there. Thanks.

[2015-04-21 16:51] #665 closed

[2015-04-21 17:01] dmarcelino commented on #500
Closing this for now, please reopen if you are still experiencing this.

[2015-04-21 17:01] #500 closed

[2015-04-21 17:04] dmarcelino commented on #441
#954 may be a potential solution for this, I think. @nkibler7, what are your thoughts on this?

[2015-04-21 17:07] dmarcelino commented on #426
@animedbz16, this is very much in line with transactions which are being discussed in #755. I'm closing this for now to consolidate the discussions onto one thread, please continue the discussion there. Feel free to reopen if you feel otherwise.

[2015-04-21 17:07] #426 closed

[2015-04-21 17:24] nkibler7 commented on #441
Looks exactly like what I was going for! I wasn't using the Sails.js PubSub feature, but my own implementation definitely requires optional association population. Any help or contribution to my pull request would be greatly appreciated!

[2015-04-21 17:42] devinivy commented on #819
This can generally be dealt with in-adapter for special cases like ids (for example, in sails-dynamodb the primary attribute defaults to a string type that is auto-filled by a UUID).  Otherwise, often is the case that a waterline type plus a validator will do the trick.  It might not be an ideal solution, but these things work.  Consider writing mixins for adapter-specific validations.

[2015-04-21 17:45] devinivy commented on #925
@particlebanana do you have a moment to provide some insight as to general integrator issues to look into?

[2015-04-21 17:47] dmarcelino commented on #819
@shekhei came up with an interesting solution for this on PR #832, I'm not sure it's **the** solution but it's definitely an interesting approach. I would like to have a more *formal* way of defining both types and validations on adapters, I believe it's something that makes sense.

[2015-04-22 08:36] jyoungrok opened #960 "I don't know how to implement transaction with Waterline"
Actually, i posted for that issue, but administrator closed that issue with solution but it doesn't work
so i re-post this issue
My post was " https://github.com/balderdashy/waterline/issues/614 "
please, refer upper post

I'd like to implement transaction with multiple query
but i think waterline doesn't support that.
It it true?

i mean ... should i make new connection to my database server(mysq

[2015-04-22 09:37] dmarcelino commented on #960
Hi @jyoungrok, that is true, transactions are not yet supported in waterline, please take a look at #755 which is the request to add transactions. Feel free to discuss the feature there if you have any suggestions/concerns regarding the API.

If you are using sails-mysql or sails-postgresql you can try using the adapter's `.query()` method, which allows you to run a *raw* SQL query against the DB,

[2015-04-22 09:37] #960 closed

[2015-04-22 11:07] jyoungrok commented on #755
@dmarcelino
Thanks for your comment on the issue(https://github.com/balderdashy/waterline/issues/960#issuecomment-95099001)
On this link, you suggested that Model.query() method.

Actually, i tried that method for transaction a few months ago.
Unfortunately, it seems that Model. query() doesn't support multiple queries.
What I mean is that if i implement transaction method like below, it won't wor

[2015-04-22 11:11] devinivy commented on #887
@dmarcelino do you remember what needs to be done to close this out, regarding changing the default strategy and corresponding tests?

[2015-04-22 11:13] sahanDissanayake opened #961 "A way to make case insensitive queries"
Im trying to make case insensitive queries and It seems like Waterline does not like case sensitivity
https://groups.google.com/forum/#!topic/sailsjs/bydNURBmE8Q

[2015-04-22 11:15] devinivy commented on #813
@khalilTN does this error persist for you?

[2015-04-22 11:22] devinivy commented on #786
@lghamie there's pending PR ing the mysql adapter for this exact functionality: https://github.com/balderdashy/sails-mysql/pull/209
I suggest subscribing to that PR so that you know when this functionality goes through.  The way that will work is by using a `size` property on your attribute to specify `8`, `16`, `32`, or `64` as the number of bits for the integer.

In the meantime, if your migrati

[2015-04-22 11:23] khalilTN commented on #813
no it's is corrected, it was sails-MySQL issue, and was corrected in the 0.10.8 version

[2015-04-22 11:23] prisonier commented on #755
@jyoungrok just use the method given in blog i referenced.

You will setup ONE connection and do everything with this one.

[2015-04-22 11:24] devinivy commented on #813
Glad!  :)

[2015-04-22 11:24] #813 closed

[2015-04-22 11:25] sixpounder commented on #786
Btw, after I opened the PR I started working on the implementation for Postrgres. If the PR for mysql gets merged, I will open the other one as well

[2015-04-22 11:27] jyoungrok commented on #755
@prisonier  Thanks for your comment
i will try that and comment again

[2015-04-22 11:57] dmarcelino commented on #887
@devinivy, take a look at #962 and balderdashy/waterline-adapter-tests#50. Those should do it.

[2015-04-22 12:57] devinivy commented on #661
This is genuinely up to the adapters to implement, so I suggest moving this over to sails-mysql.  Some databases will return the created records upon create, and others wont.  So the adapters can make their own decisions about where an extra lookup is necessary.

In the case of sails-mysql I can tell you that it avoids having to perform another lookup.  It does this by asking for the inserted id,

[2015-04-22 13:15] jyoungrok commented on #755
http://blog.evizija.si/sails-js-waterline-mysql-transactions/
In this blog, i got the news that new release of waterline will involve transaction implementation
Can i know when this implementation will be released?

[2015-04-22 13:36] jyoungrok commented on #755
Actually, when i commented, i didn't know about connection pool in detail
I've caught the point and if i implement like blog @prisonier refer, there won't be much overhead
because connection pool is just cache of connections for re-use and i will create only one connection and  close it after using that.

Actually, i did it a few months ago but i didn't know in detail
Anyway, thanks for your comme

[2015-04-22 14:14] dmarcelino commented on #755
@jyoungrok  this feature is assigned to [milestone WL_Next](https://github.com/balderdashy/waterline/milestones) which will be released after 0.11, so this should take several months. Having said that, waterline is an open source project developed by the community for the community so you if you want to help implementing this feature your contribution will be appreciated.

[2015-04-22 14:21] dmarcelino commented on #961
Hi @sahanDissanayake, this seems odd as all official adapters (including sails-postgresql) pass the case insensitive tests in [caseInsensitive.test.js](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/queryable/caseInsensitive.test.js#L33). Can you try updating your sails-postgresql adapter to version 0.10.14 and waterline to v0.10.21 and try again?

[2015-04-22 14:36] dmarcelino commented on #887
BTW @devinivy, this is slightly off topic but I just noticed that the integration tests have 2 new broken sails-mysql tests:
* Association Interface Has Many Association create nested associations() with single level depth and objects should create a new customer and payment association
* Association Interface 1:m association :: .update() update nested associations() with single level depth when a

[2015-04-22 14:46] devinivy commented on #887
@dmarcelino feeling pretty sure it's just about this change https://github.com/balderdashy/waterline/compare/v0.10.21...master#diff-762fb5e96b0c3cfe800c9025650adbb6R68 and assumptions around order that records are created.  Mind console.logging around those tests? :P

[2015-04-22 14:51] lghamie commented on #786
Yep, closing.

[2015-04-22 14:51] #786 closed

[2015-04-22 16:02] keniosor opened #963 "How to render selected fields ?"
Hi,

I use the Waterline ORM for my Sails Js applications.
For queries, I would like to render selected fields.

In the documentation, there is an example using the find() method :
User.find()
.where({ id: { '>': 100 }})
.where({ age: 21 })
.limit(100)
.sort('name')
.exec(function(err, users) {
// Do stuff here
});

But, it renders all the fields of the User model.
How to render selected fields ?.

[2015-04-22 16:13] dmarcelino commented on #963
Hi @keniosor,

You can use `select` like this:
[code]

More details on http://stackoverflow.com/a/29769995/4249576

[2015-04-22 16:13] #963 closed

[2015-04-22 16:16] dmarcelino commented on #836
Any update on this?

[2015-04-22 16:19] dmarcelino commented on #738
I'm closing this for now as we don't have enough information to reproduce. Please add more more details (a failing test would be awesome) and reopen.

[2015-04-22 16:19] #738 closed

[2015-04-22 19:17] sahanDissanayake commented on #961
Thanks @dmarcelino
Im using sails-mysql V 0.10.11
Sails V 0.10.5

I cannot see the waterline in my package.json file :confused:

[2015-04-22 19:24] dmarcelino commented on #961
Waterline would be on Sails' package.json hence inside sails/node_modules. Still, sails-mysql passes the case insensitive tests I've mentioned earlier. Can you tell us which queries are you running and how your data looks like? Alternatively a failing test would be even better.

[2015-04-22 19:37] sahanDissanayake commented on #961
These are my files

package.json
[code]

my Query made on VenueController

[code]
My venue.js Model
[code]

[2015-04-23 03:24] sahanDissanayake commented on #961
Any thoughts @dmarcelino  please?

[2015-04-23 04:28] sahanDissanayake commented on #961
So this is what Im going wit bro

[code]

[2015-04-23 05:53] tjwebb commented on #605
hey @tgriesser I saw you made the speakers list for jsconf. Let's meet up and chat. sails.js is interested in using knex in a number of ways (namely, to replace [waterline-sequel](https://github.com/balderdashy/waterline-sequel) in a number of places), and it'd be great to get buy-in from both communities. (folks on our side of things are pretty enthusiastic :+1: )

[2015-04-23 09:30] dmarcelino commented on #961
Regarding this part of your code:
[code]

* You shouldn't need escaping the query as sails-mysql will do that for you, I believe;
* in `.find` you are not using `toLookFor` which seems that you forgot;
* If you want to use '%' / `LIKE` your criteria should use `like` such as `{ where: { name: { like: toLookFor } } }`, take a look at the [waterline docs](https://github.com/balderdashy/waterline-doc

[2015-04-23 12:59] alin-roman-zitec opened #964 "Nested update fails required validation"
Hello, here we have two models:

User:

    attributes: {
        name: { type: 'string', required: true },
        posts: { collection: 'post', via: 'author' }
    }

Post:

    attributes: {
        title: { type: 'string', required: true },
        text: { type: 'string' },
        author: { model: 'user', required: true }
    }

We populate the user like this:

    User.create({ name: 'Test us

[2015-04-23 13:12] dmarcelino commented on #751
@EmileSpecs, @anissen, what is the status of this? Can you try with latest version of waterline? Thanks!

[2015-04-23 13:16] dmarcelino commented on #675
@Bartjezzz judging from #519 sails-mongo may suffer the same issue. Actually both issues seem to be about the same issue.

[2015-04-23 13:16] dmarcelino commented on #519
This seems to be the same issue as #675, we should look into this before `0.11`.

[2015-04-23 14:03] dmarcelino commented on #964
Looks like a bug.

[2015-04-23 14:19] dmarcelino commented on #438
A year later... @adamhooper, @particlebanana what's the status of this? Are we happy with the current API or is it worth contemplating some of this in a future release?

[2015-04-23 14:25] dmarcelino commented on #439
@gregbty is this fixed now? Thanks.

[2015-04-23 14:47] dmarcelino opened #965 "Make m:n nested updates API consistent with 1:1 and 1:m"
Nested updates in the form of `User.update({id: 1 }, { posts: [ { id: 1, title: 'Test post - updated' }] })` work for 1:1 and 1:m associations but breaks for m:n associations. The API for this should be consistent between association types.

PR balderdashy/waterline-adapter-tests#51 provides the failing tests for this feature.

**#292 - Add `.add()`, `.remove()`, `.save()` support for 1-1 and 1-*

[2015-04-23 15:33] devinivy commented on #964
The way nested updates works is as such,

1. When an id is specified on a nested record passed to `Collection#update`, update those nested records.
2. Remove all associations with the parent record, either by removing associations from a junction table (m:n) or by setting child record foreign keys to null (1:n).
3. For those nested records passed to `Collection#update` without specified without id

[2015-04-23 15:43] dmarcelino commented on #964
Thanks @devinivy, so this isn't a bug *per se* but more of a limitation. Your suggestion on the last paragraph actually sounds quite good. On one side the diff would consume some computing but on the other there wouldn't be any unnecessary remove/add actions so that could balance the performance impact.

PS: @devinivy that's a great piece of information and should be in some sort of development wi

[2015-04-23 15:59] devinivy commented on #965
I surprised this is an issue, honestly.  What occurs instead of a successful update?  Is it possibly updated in the database, but not reflected in the results waterline returns?

[2015-04-23 16:01] alin-roman-zitec commented on #964
Yea, I get it.

This is the correct behavior because, when updating the user - post associations, any post that is no longer associated with the user is failing the validation - it cannot have a null author. In that case, one option is to delete the invalid post, but again, this is not an expected behavior and I don't recommend to implement it in waterline core.

My remaining solution is to overri

[2015-04-23 16:01] #964 closed

[2015-04-23 16:01] dobaduc commented on #503
I've got exactly the same issue. Could anyone please kindly advise how to fix this?

[2015-04-23 16:02] #887 closed

[2015-04-23 16:02] dmarcelino commented on #965
The child values are left untouched but the association to the child is set correctly.

The tests do a `.find()` after the update (https://github.com/balderdashy/waterline-adapter-tests/pull/51/files#diff-4a8c2e665523976121614a83468c4a69L176) so I don't think it was updated in the DB.

[2015-04-23 16:04] devinivy commented on #964
Sure thing!  The other possibility is to make two API calls to your blueprint controllers... one to update user info, and one to update post info.

[2015-04-23 16:08] alin-roman-zitec commented on #964
That too, but I dislike multiple calls to API when I can make just one.

[2015-04-23 16:12] irlnathan opened #966 "When using Sails-disk and the default schema false, migrate alter will remove attributes not in the schema"

[2015-04-23 16:16] alin-roman-zitec commented on #933
If you don't care about leaving the query running, which is not recommended, you can timeout using bluebird's timeout method:

    var Promise = require('bluebird');

    User.find().where({ somePropertyNotIndexed: 'some value' })
    .timeout(30 * 1000)
    .catch(Promise.TimeoutError, function() {
        req.serverError('Query timed out');
    });

I don't know if you can abort a running query,

[2015-04-23 16:35] dmarcelino commented on #503
Hi @dobaduc, it looks like this will require code changes in waterline or sails-disk (is this the adapter you're using?). Either way we probably should start by writing an automated test so we have means to reliably reproduce this and confirm any code change has fixed it.

[2015-04-23 17:18] tjwebb commented on #966
Yikes. Good thing I just merged https://github.com/balderdashy/waterline/pull/962 :)

[2015-04-23 17:24] brandonsimpson commented on #308
@dmarcelino +1 for populating deep associations

[code]

I am currently forced to use `promise.props` to pull all of the various data sets and map them together after all of the results are returned. It's very clunky compared to just building a sql join statement and getting all results from the database.

[2015-04-23 17:25] dmarcelino commented on #887
@devinivy, regarding the above broken tests you were correct, I've just issued PR balderdashy/waterline-adapter-tests#52 which fixes them!

[2015-04-23 17:29] dmarcelino commented on #947
@jonathanwiesel, I believe either @tjwebb's suggestion in https://github.com/balderdashy/waterline/issues/947#issuecomment-92085121 or #918 are the solution for your issue so I'm closing it for now. Please reopen if you feel otherwise.

[2015-04-23 17:29] #947 closed

[2015-04-23 17:47] particlebanana commented on #966
@tjwebb haven't tested it but I suspect it would also be an issue with sails-mongo and other nosql dbs that have `schema: false` set by default.

Also just as a thought I think #962 will mess with sails projects. Unless Sails is overriding it and setting `migrate: 'alter'` somewhere manually.

[2015-04-23 18:16] devinivy commented on #966
Possibly related: https://github.com/balderdashy/waterline/pull/959

[2015-04-23 18:18] kevinburkeshyp commented on #947
More thoughtful analysis here, if you're curious - https://www.twilio.com/engineering/2015/04/16/replacing-absolute-paging-with-relative-paging

[2015-04-23 18:18] dmarcelino commented on #966
#959 has been released to npm yet though, so it could only cause this if @irlnathan is using waterline github version.

[2015-04-23 18:20] dmarcelino commented on #947
@kevinburkeshyp is that different from what is being purposed in #918: Feature Request: Seek/Keyset Pagination?

[2015-04-23 18:30] randallmeeker commented on #947
We need to recognize that two different issues are being discussed here. #918 and *seeking* has little to do with THIS issue of returning page counts. It is an alternative methodology for pagination. In either case a Model.count() would have to be executed no matter which method you use. As @tjwebb pointed out a separate query can be used and should be used so that those that do not need the extra

[2015-04-23 18:41] dmarcelino commented on #709
Please reopen if this is still an issue.

[2015-04-23 18:41] #709 closed

[2015-04-23 18:42] asleepinglion commented on #944
I'm unable to jump in and help here at this time, but I'm curious as to what the outlook is on remedying these performance issues? This alongside the current lack of the pick/omit feature, is really hurting the performance of my teams applications. Is this something that you think will be solved in the near future? Any idea on when?  I really like waterline and want to keep using it, but my team i

[2015-04-23 18:52] dmarcelino commented on #944
@asleepinglion, there is no pick/omit feature but there is a select. More on it [here](http://stackoverflow.com/questions/29768682/select-specific-fields-from-database/29769995#29769995).

It's really hard to fix this without a benchmark of some sort to reproduce the problem and confirm it's fixed. So far nobody has come up with one...

[2015-04-23 18:58] dmarcelino commented on #966
@particlebanana, we can easily postpone #962 to `0.11`.

[2015-04-23 19:11] dmarcelino commented on #407
@zieglar, are you still experiencing this? Which adapter are you using? Thanks

[2015-04-23 19:37] devinivy commented on #965
We'll wanna look around here: https://github.com/balderdashy/waterline/blob/master/lib/waterline/utils/nestedOperations/update.js#L167-L169

[2015-04-23 19:39] asleepinglion commented on #944
I was referring to the upcoming feature for 0.11: https://github.com/balderdashy/waterline/pull/952. It did seem understood that by being able to pick or omit fields could have serious performance benefits.

As far as a benchmark; is this not already a known issue? Just above you said that PR #924 (which brought some improvements?) was reverted because it had breaking changes. Sorry if I'm reading

[2015-04-23 19:42] sahanDissanayake commented on #961
Yep, Still no luck with using the the Sails ORM. So I used exactly what you have mentioned on the previous comment,

So on the client I type 'jam' > My intention is to find James
But on my DB there are Jamis, James, Jami, Jamerson....

So when I type 'jam' on the client and when I do a console log before the Venue.find()

[code]

I do not know what the problem here is, But as I mentioned in a prev

[2015-04-23 20:10] tgriesser commented on #605
Definitely! Yeah that'd be sweet - I'm in the process of streamlining a ton of the internals https://github.com/tgriesser/knex/pull/786 and beefing up transactions (automatic savepoints when transactions are nested, etc) and brainstorming a better approach for writing and extending adapters (so we can easily get mssql and built-in support some of the great new postgres features)

It'd be great to

[2015-04-23 20:13] dmarcelino commented on #961
If you are trying to find James you will need to change `toLookFor = '%'+userinput;` into `toLookFor = '%' + userinput + '%';`.

[2015-04-23 20:19] sahanDissanayake commented on #961
Awesome,,, Now we are getting somewhere,, :+1:

So now there are results being served,
But still I have to capitalise the word, because the search in SailsJS is case sensitive for some weird reason, :cry:

Dont know why tho

[2015-04-23 20:26] dmarcelino commented on #961
I'm still confused as to why you are experiencing this... sails-mysql passes the following [test](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/queryable/caseInsensitive.test.js#L134):

[code]

@sahanDissanayake, can you try the github version of sails-mysql (`npm i balderdashy/sails-mysql`)?

@devinivy, any ideas?

[2015-04-23 20:31] sahanDissanayake commented on #961
So this is what i did,

Went in to my app folder and typed npm i balderdashy/sails-mysql
And then restarted the server

Still does not work.

Could you kindly tell me how to undo "npm i balderdashy/sails-mysql" command ?

[2015-04-23 20:33] dmarcelino commented on #961
`npm i sails-mysql@latest` will do it.

[2015-04-23 20:36] sahanDissanayake commented on #961
Thanks Dário, Hope we will be able to find a solution for this,
Just as a not : my DB type is utf8_bin

[2015-04-23 20:41] dmarcelino commented on #961
Ah, can you try not setting collation just for the sake of testing? Judging from http://stackoverflow.com/a/5890422/4249576 that may be the cause since strings will be compared by their binary value.

[2015-04-23 20:42] particlebanana commented on #966
@dmarcelino we might want to wait on it. Unless there is somewhere else in Sails that sets it, default projects that get generated have the `migrate` config commented out by default. If this was a patch it would break the normal behavior of Sails. We should take a look and fix that in Sails if it's the case.

From the looks of it I think #959 solves this issue. If we revert #962 are we good for a

[2015-04-23 20:46] dmarcelino commented on #966
Yeap, given you gave your :+1:  to #959 we are good to release waterline. I'll revert #962 and issue a PR against `0.11`.

[2015-04-23 20:46] sahanDissanayake commented on #961
Yeah bro,,, Hells yeah,, :fireworks:
That did the trick..

I changed the collation to utf8_general_ci
Restarted the server

And now the case insensitive search work perfectly :)

[2015-04-23 20:47] dmarcelino commented on #961
Cool, good to hear that! :smiley:

[2015-04-23 20:47] #961 closed

[2015-04-23 20:49] sahanDissanayake commented on #961
thanks for all your effort, really appreciate it

[2015-04-23 21:01] dmarcelino commented on #966
@particlebanana, I've issued #967 to revert #962.

[2015-04-23 21:03] devinivy commented on #961
@dmarcelino Good find.  Do we need to make a point about collations in sails-mysql?

[2015-04-23 21:04] dmarcelino commented on #961
It's probably a good idea, yes.

[2015-04-23 21:04] devinivy commented on #429
https://github.com/balderdashy/waterline/pull/959 merged.  Look for the fix in the next patch update to waterline.

[2015-04-23 21:04] #429 closed

[2015-04-23 21:08] dmarcelino commented on #944
Regarding #952, I can't see it being anymore performant than `.find({ select: [ 'att1', 'att2'] })`...  And I believe the only performance benefit is querying less fields/columns from the database which shouldn't make a huge difference.

It's "known" in the sense that a few people have brought it up. :) Yes, PR #924 brought some improvements that we were able to measure through load tests (PR bald

[2015-04-23 21:14] dmarcelino commented on #405
@Globegitter, @funkygibbing, @prodigitalson, @AudreaM how about you guys combining efforts and creating a sails-sqlite org and project? :smiley: Maybe you can leverage [waterline-sequel](https://github.com/balderdashy/waterline-sequel) to help generating the queries!

[2015-04-23 21:17] dmarcelino commented on #965
@devinivy you are like a travel guide to waterline core code! :smiley:

[2015-04-23 21:19] devinivy commented on #405
(Bearing in mind other SQL adapters may be using Knex in the future, per https://github.com/balderdashy/waterline/issues/605)

[2015-04-23 21:19] dmarcelino commented on #405
If waterline-sequel is modified to use Knex (https://github.com/balderdashy/waterline/issues/605#issue-40883930) that may become easier.

[2015-04-23 21:29] blah238 commented on #944
@dmarcelino I haven't hide time to look at it since #924 was rolled back and have since resorted to using Bookshelf/Knex instead of Waterline, but as I recall, just changing `PETS_NUMBER` from 100 to 1000 exponentially increased the time and memory usage for me on Windows and [would eventually crash the tests](https://github.com/balderdashy/sails-postgresql/issues/141#issuecomment-88221675). At 10

[2015-04-23 22:21] asleepinglion commented on #944
Understood.  We are using the mysql adapter in our project, and I will attempt to inquire on that project specifically. I just saw this issue and the ones it referenced, and it seemed related to the issues I'm experiencing. Fact of the matter is, the many to many join I'm working with is incredibly fast when I use custom queries, and even other libraries, but it takes several seconds when using Wa

[2015-04-24 02:19] mateeyow commented on #933
+1

[2015-04-24 02:59] anasyb commented on #919
subscribers: sorry for the buzz :P nothing interesting to read.
Although this was about `select`, I just wanted to add reference to this issue for anyone landing here... few *other* things you can do with populate sub-criteria:
https://github.com/balderdashy/waterline/issues/334

[2015-04-24 04:31] dobaduc commented on #503
@dmarcelino Thank you for your prompt response. I am using **sails-mysql** :)

[2015-04-24 09:09] dmarcelino commented on #919
Thanks @anasyb, that's valuable information.

Meanwhile at @atiertant's request I've changed this issue into a feature request and reopen it.

[2015-04-24 09:20] dmarcelino commented on #944
@blah238, the reason for 100 pets being the default is a pragmatic one. I'd like (dream?) for people to use the load tests frequently, namely when they are about to push changes and a 1000 pets makes it impractical. Anyone can change pets to a 1000 for more *extreme* testing. If I remember correctly your issues were also related with node 0.12, right?

@asleepinglion, I was just thinking that a go

[2015-04-24 14:32] elennaro opened #970 "GeoSpatial indexes support (feature request)"
PostgreSQL, MySQL and MongoDB, all support geo spatial indexes.
Do you plan to support them?

[2015-04-24 14:47] dmarcelino commented on #970
For reference, this relates to balderdashy/sails-postgresql#4, balderdashy/sails-mongo#46 and #71.

I can also see that `anchor` has support for `geojson` in [rules.js](https://github.com/balderdashy/anchor/blob/master/lib/match/rules.js#L49) which could be used for this.

At this point I'm not sure if there is anything required of waterline core or if it's a matter of adapter implementation. @ele

[2015-04-24 15:07] elennaro commented on #970
I'm not sure, didn't review the Waterline's sources thoroughly.
1. I hope there could be a "geojson" Model attribute type, say in [GeoJSON](http://geojson.org/) form, and I see it in `anchor`.
2. Then there could be
* generation of proper indexes in database adapters
* mapping
* query for geospatial search with realizations in each adapter like [geoNear](http://docs.mongodb.org/manual/reference/co

[2015-04-24 15:19] dmarcelino commented on #970
Waterline uses `anchor` for validation so whatever types are there should passthrough to the adapter.

[2015-04-24 15:23] elennaro commented on #970
And then it will cal the adapter to create index and to do the mapping will it?

[2015-04-24 15:28] dmarcelino commented on #970
Disclaimer: I've never used geospatial indexes so I'm not familiar with geospatial indexes and mapping.

Assuming you had something like:
[code]

The adapter would get all this info and it should act on it creating an appropriate index.

[2015-04-24 15:31] elennaro commented on #970
I see it now, thanks.

[2015-04-24 16:36] dobaduc commented on #503
Please let me attach my error log here for reference

[code]

[2015-04-24 16:43] dmarcelino commented on #290
@mphasize, take a look at #965, I think it may actually be a duplicate of this one. I've also modified the waterline-adapter-tests and they should pick this: PR balderdashy/waterline-adapter-tests#51. What do you think?

[2015-04-24 16:46] dmarcelino commented on #239
:+1:

`0.11` could be a good opportunity for this since it will require API/adapter changes (I believe).

[2015-04-24 16:53] dmarcelino commented on #528
I believe this issue will need to be discussed in the SQL adapters, namely on balderdashy/sails-postgresql#153 where there is an ongoing discussion regarding dates and date types. Please reopen if I misunderstood or if there is a deeper problem which needs to be addressed in waterline core.

[2015-04-24 16:53] #528 closed

[2015-04-24 16:57] dmarcelino commented on #505
@clarkorz, is this still an issue? Can you provide a test? Thanks

[2015-04-24 17:01] dmarcelino commented on #698
Yes @devinivy, I think that make sense. @chadxz, do you have something you can PR? Would like to see that.

I wonder if this is in anyway related to #477.

[2015-04-24 17:01] dmarcelino commented on #477
Any updates on this? See also #698 which could be related.

[2015-04-24 17:04] dmarcelino commented on #475
Agreed, we probably should investigate which clones are actually needed.

Is this issue still ongoing? Does anyone have a fix they would like to PR?

[2015-04-24 17:08] dmarcelino commented on #469
I'm just thinking... I'm not sure this functionality is in the spec, at least I don't recall it when I implemented sails-orientdb and I don't remember seeing it in the docs. Can someone PR a test to waterline-adapter-tests? That would help towards figuring out which adapters are broken/don't implement this and then we could work on getting it fixed/spec'ed.

[2015-04-24 17:19] dmarcelino commented on #724
Any update on this?

[2015-04-24 17:19] chadxz commented on #698
I don't have a fix, only the failing test illustrating the problem. Do you want me to PR that?

[2015-04-24 17:20] dmarcelino commented on #698
Yes please, it won't be merged until we have a fix but at least we'll be able to use and discuss the test which is a great help! Thanks.

[2015-04-24 17:28] dmarcelino commented on #694
:+1: to:
[code]

Unfortunately this will need to be addressed on the adapters so we're talking about a new API, potentially. @dzotcrew would you be able to submit a test to [waterline-adapter-tests](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/queryable/modifiers/sort.modifier.test.js)?

It would also be good to see what other people say.

[2015-04-24 17:36] dmarcelino commented on #698
Thanks for #971 @chadxz.

[2015-04-24 17:39] dmarcelino commented on #654
See also https://github.com/balderdashy/waterline/issues/964#issuecomment-95626676.

[2015-04-24 17:42] dmarcelino commented on #646
@mnaughto, take a look at https://github.com/balderdashy/waterline/issues/964#issuecomment-95626676. I think your best option is to not include any associated records in the `.update()` call if you don't intent to change the associations nor the associated records values.

[2015-04-24 17:46] chadxz commented on #698
np!

[2015-04-24 17:47] dmarcelino commented on #828
This looks like a new feature, but a new feature which would need to be implemented in the adapters. If we are talking SQL, [waterline-sequel](https://github.com/balderdashy/waterline-sequel) may be the right place to start.

[2015-04-24 17:52] dmarcelino commented on #800
@ansel1, have you found an answer to your issue? Can you share it?

Any pending queries related to this topic?

[2015-04-24 17:57] dmarcelino commented on #794
@nozer, could you raise this on sails-mysql/sails-postgresql or potentially waterline-sequel? I don't think there is anything to be done on the waterline core side.

[2015-04-24 18:01] dmarcelino commented on #788
This has been moved to balderdashy/waterline-schema#22, please continue the discussion there.

[2015-04-24 18:01] #788 closed

[2015-04-24 18:06] n8maninger commented on #800
@dmarcelino at some point a while back Waterline implemented functions for defaultsTo.

[code]

[2015-04-24 18:08] dmarcelino commented on #800
Ah, nice, thanks, we should add that to https://github.com/balderdashy/waterline-docs/blob/master/models.md#defaultsto! :wink:

[2015-04-24 18:08] #800 closed

[2015-04-24 19:27] dmarcelino commented on #860
This is fixed by PR #972.

[2015-04-24 19:45] dmarcelino commented on #929
PR balderdashy/waterline-docs#65 should make this clearer, let me know what you think.

[2015-04-24 19:54] dmarcelino commented on #771
Judging solely from https://github.com/balderdashy/waterline-docs/blob/master/query.md#paginate, `paginate({ limit: 10 })` is equivalent to `paginate({ page: 0, limit: 10 })` which would translate to:
[code]

So it would only return the first 10 records. @kevinburke, is there anything you think that needs to be changed on https://github.com/balderdashy/waterline-docs/blob/master/query.md#paginate?

[2015-04-24 20:02] blah238 commented on #944
@dmarcelino I agree it wouldn't be very nice to blow up people's machines every time they run the tests, but the thing is, querying 1000 records shouldn't be considered extreme at all in the first place! Should be sub-second for any of those adapters.

Bookshelf/Knex is able to do the same join that Waterline took 12+ minutes to do in less than 1 second and keeps the memory under 100MB where Water

[2015-04-24 20:06] dmarcelino commented on #552
PR #973 issued.

[2015-04-24 21:47] sahanDissanayake commented on #950
@devinivy This is all good, But I have a big issue, I have a system where I use filters to get details

this is a sample json representation of my data

[code]

Now my problem is sometime I need to find in my DB for empty value, which has not been set yet, For example at the bottom, the Menu could be either empty array or filled with id's of menus

Could you help me figure this out please

[code]

[2015-04-24 22:10] sahanDissanayake commented on #950
I just used the _.filter for now

[2015-04-24 22:31] mkeremguc commented on #469
there are lotsa features that is not in the docs either. however, that feature may not be implemented as @dmarcelino said. i was just referencing https://github.com/balderdashy/sails/issues/124#issuecomment-21690561 at the time.

even though it not be implemented yet, i would still ask how you search/find/filter by association values ? custom in-memory functions would not be efficient for large da

[2015-04-24 22:48] asleepinglion commented on #944
@dmarcelino, I haven't given up and will certainly jump in and try to see what I can do in the near future. I've integrated waterline into a framework I'm building which is still in heavy development. I have an adapter in my framework that makes waterline available . I'm developing the framework alongside the company project that's using it, so I don't have the time to jump into waterline at the m

[2015-04-25 08:37] stefan1968 opened #974 "Deferred object from Raw Query."
I need to populate associations from a raw query:- model.query(sql, cb).populate('pets'), or alternatively have a none deferred method of populating associations.

i.e record.populate('pets) - record is just a returned model schema not a defered object.

Is this possible?

[2015-04-25 09:37] dmarcelino commented on #974
Hi @stefan1968, this is impossible. raw queries are adapter/db specific and they can return anything, from records, to counts, to admin operation results, etc. without any control from waterline core. The returned result format itself will vary between adapters. If you are doing raw query why not do your JOIN (that's essentially what populate does) operation in the query itself? You will like get

[2015-04-25 11:10] drbolsen opened #975 "model.save() fails when model has been populated"
The issue is similar to an already reported issue in sails repo [2073](https://github.com/balderdashy/sails/issues/2073) - updating both a main model and an association in one go will return an error in callback and an empty result value however both models are actually updated. Weird.

The code:
[code]
The error:
[code]

[2015-04-25 11:14] dmarcelino commented on #975
Hi @drbolsen, this seems the same problem as #964, please read @devinivy's response https://github.com/balderdashy/waterline/issues/964#issuecomment-95626676 and let us know if that addresses your issue.

[2015-04-25 11:52] drbolsen commented on #975
Thanks for a prompt response mate, much appreciated. I will look at it more carefully tomorrow, however I have experimented a bit and found that by adding the following line to my code solves the problem:
[code]

I thought it wouldn't be necessary as this was already part of the populated collection

[code]

but it appears that an association attribute that links two models must be specified.

[2015-04-25 13:40] dinana commented on #308
I developed this function to handle deep population, feel free to use it:
https://gist.github.com/dinana/52453ecb00d469bb7f12

[2015-04-25 18:44] tjwebb commented on #308
@dinana would you mind submitting a PR?

[2015-04-25 18:58] stefan1968 commented on #974
Thanks for the response. The raw query explanation makes perfect sense. What is the timeline on record.populate ?

[2015-04-25 19:00] dmarcelino commented on #974
You're welcome! I'm not aware of anyone currently working on it and it's not assigned to any version to be released soon. It's labelled as "Help Wanted" so any help is welcome, mind giving it a shot? :smiley:

[2015-04-25 19:00] #974 closed

[2015-04-25 19:07] dinana commented on #308
@tjwebb As an add-on to query/populate or as a service still?

[2015-04-25 19:08] tjwebb commented on #308
I think it'd be great to have as a feature of waterline

[2015-04-25 19:19] dinana commented on #308
I'll need some pointers to properly integrate this into waterline code, can you help? Also, do you use Gitter/IRC/else?

[2015-04-25 20:06] dmarcelino commented on #925
Hey @devinivy, @particlebanana, I have good news and bad news:
* The good news are I've managed to create a comprehensive test suite for associations across multiple connections (same adapter) by re-using the existing associations tests: https://github.com/balderdashy/waterline-adapter-tests/commit/dc7c871377b2a6e2c89f1719c9675309cf966c6e
* The bad news is that a lot of tests are breaking. Even fo

[2015-04-25 21:07] stefan1968 commented on #974
Haha. If only I had time, I've just basically ported our companies server from LocmotiveJS/Sequelize to SailsJS/Waterline, and whilst Waterline is not as mature yet, the way it does stuff is far easier to handle.

Having said that, find with selected attribute returns is a must. I believe thats on its way?

[2015-04-26 03:55] tjwebb commented on #974
It's here. See https://github.com/balderdashy/waterline-docs/blob/master/query-language.md#select

[2015-04-26 04:51] stellarashes opened #976 "Cross database association yields empty object"
When I set a cross database association in my model, calling populate on the association would result in empty object for that member, whereas populating the association in the same database worked as expected (both the associations are 1-1).  After much debugging, I realized the results from the same database had the query results for population with the key of child key, whereas the cross databa

[2015-04-26 10:18] dmarcelino commented on #605
I think a good approach for this would be to replace waterline-sequel for a "waterline-knex" with the same inputs and same (or better) outputs, that way we could use it as a drop in replacement in sails-postgresql and sails-mysql.

[2015-04-26 10:28] dmarcelino commented on #944
@blah238, hopefully we we'll get to the point where querying 1000 records takes less than a second, that's what we all want.

On another note, I'm surprised Bookshelf/Knex takes less than 1 sec to return 100 query requests, each one with a join operation, is it doing some sort of caching so it doesn't hit the DB 100 times? (100 is the number of requests the load tests do)

Yes @asleepinglion, that

[2015-04-26 10:41] dmarcelino commented on #976
Hi @stellarashes, this looks like a duplicate of #847, moving your comment there and closing this one. Please continue the discussion there or reopen this issue if you feel otherwise. Thanks!

[2015-04-26 10:41] #976 closed

[2015-04-26 10:41] dmarcelino commented on #847
Moved #976 from @stellarashes here:

@stellarashes, there is an open PR for this, #848 can you try it please?

[2015-04-26 10:46] dmarcelino commented on #847
@stellarashes, thanks for investigating! I've tried to run your code change suggestion against some cross connection associations tests I've *created* in https://github.com/balderdashy/waterline-adapter-tests/commit/dc7c871377b2a6e2c89f1719c9675309cf966c6e and it actually broke more tests than are currently broken... :disappointed:  I suppose there is some issue with [populate.js#L54](https://gith

[2015-04-26 10:51] dmarcelino commented on #925
PR #848, makes 8 additional cross db tests pass, can you guys take a look?

[2015-04-26 19:07] dmarcelino commented on #671
@kenjinsama, balderdashy/anchor#75 fixes this.

[2015-04-26 22:37] #671 closed

[2015-04-26 23:29] blah238 commented on #944
@dmarcelino No, sorry, I was referring to the scenario in the original post on https://github.com/balderdashy/sails-postgresql/issues/141. Although I think it would be great to add a Bookshelf/Knex load test case to use as a baseline.

[2015-04-27 04:25] sahanDissanayake opened #978 "Mysql Query search does not work as expected"
Hi all,

So this is my data model,

[code]

There are like 500 other records like this on the database

Im trying to find in the database for something like this

[code]
As a result I expect the previous objects to be returned
This does not work for me, I dont know if this is an issue or stupid question, Please close this if this is not a core issue
http://stackoverflow.com/questions/29886897/sail

[2015-04-27 07:26] orthodoc opened #979 "findOrCreate method fails when json attribute on model is empty with postgresql"
Referring to balderdashy/sails-postgresql/issues/155
Model: User.js
Attribute: `socialProfiles: { type: 'json', defaultsTo: {} }`

Failing with an error `error: column user.socialProfiles.facebook.id does not exist`, when it should be creating a record.

[2015-04-27 09:02] dmarcelino commented on #979
@orthodoc, is this issue affecting other adapters besides sails-postgresql?

Can you share a code snippet on how you are using findOrCreate?

Are there any beforeCreate or beforeValidate  lifecycle callbacks that can be throwing this error?

[2015-04-27 09:38] dmarcelino commented on #978
@sahanDissanayake, as per the [`contains` documentation](https://github.com/balderdashy/waterline-docs/blob/master/query-language.md#contains) it doesn't support an array input.

Have you tried using an [`or`](https://github.com/balderdashy/waterline-docs/blob/master/query-language.md#or-pairs), like:
[code]
There is actually an example in the [adapter integration tests](https://github.com/balderd

[2015-04-27 10:23] sahanDissanayake commented on #978
There is an error with the syntax for your answer

I think this is correct ?

[code]

[2015-04-27 10:24] dmarcelino commented on #978
Yes, that's what I meant :wink:

[2015-04-27 10:33] sahanDissanayake commented on #978
Ohh OR is bad, Because I need the filtered records from the backend, but it just sends me some random results like how you'd expect OR to work,

Might need a better solution for this

[code]

[2015-04-27 10:38] dmarcelino commented on #978
@sahanDissanayake, from your last answer it's not clear why `OR` wasn't a good solution (it looked to me it would satisfy what you originally asked) and it's not clear what you're trying to achieve with the last code snippet you posted.

Is this still an issue?

[2015-04-27 10:46] sahanDissanayake commented on #978
this is definitely not an issue, it 's a question, I will try to look for a better solution

With the last code snippet if I look for the records it will only return the records that full fill them, unlike OR returns a record if one of the search criteria is fulfilled

I hope it is clear what im trying to say

[2015-04-27 13:37] devinivy commented on #469
This often relies on using `native` (mongo adapter) or `query` (sql adapters) adapter methods, which allows you to make queries directly through the database wrapper.

[2015-04-27 15:17] #552 closed

[2015-04-27 15:23] #860 closed

[2015-04-27 16:02] dmarcelino commented on #405
Maybe this will help: https://github.com/AndrewJo/sails-sqlite3.

Closing this for now as I believe sqlite support will have to come from the community. Please re-open if you feel otherwise.

[2015-04-27 16:02] #405 closed

[2015-04-27 19:00] dmarcelino commented on #979
Closing this as a duplicate of balderdashy/sails-postgresql#155 which seem to have already gathered some good quality answers. If there is an issue specific to waterline core feel free to reopen.

[2015-04-27 19:00] #979 closed

[2015-04-27 20:13] dmarcelino commented on #771
Closing this for now, please reopen if you think the docs can be improved. Thanks.

[2015-04-27 20:13] #771 closed

[2015-04-27 20:27] dmarcelino commented on #891
@weblogixx, @anasyb, #969 has been merged to master, can you check if it fixes your issues?

[2015-04-27 20:28] dmarcelino commented on #317
@m0g, @dantswain, @pixelfreak, #969 has been merged to master, can you check if it fixes your issues?

[2015-04-27 22:03] drbolsen commented on #975
Following up on this one, further digging into the issue I found that my fix is not actually a fix - it just mitigates an apparent exception error message. In reality assigning "id", which is in essence a foreign key that links two models, will just re-link the populated association to the updated record. No changes are made. So in my particular scenario - resetPasswordToken will never be updated.

[2015-04-28 01:47] devinivy commented on #975
That's right!  I'd love a solid proposed solution to this issue.  The only solution currently known is to minimize unlinking/linking routines by performing an additional `find` then diffing nested records.  Bearing in mind that `Model#save` eventually defers to `Collection#update`, I would love some effort to go into figuring out if there's duplicate work being done here (https://github.com/balder

[2015-04-28 06:10] ptariche commented on #864
https://github.com/ptariche/koa-waterline

[2015-04-28 06:51] sahanDissanayake commented on #978
@dmarcelino I just did this
http://stackoverflow.com/questions/29886897/sailsjs-mysql-orm-multiple-query-on-the-same-table-field/29906067#29906067

But waterline still returns me the records with "delivery": "0" I do not know why,,, This is confusing and since there are no errors I do not how to fix this

[2015-04-28 07:20] sahanDissanayake commented on #978
@dmarcelino , I think I found the ISSUE

[code]

So this is the query right, I ran this query about 30 times and saw a pattern, The pattern was that only the last key:value was taken in to consideration, All the other key: values are ignored by the ORM.

I think this question may have become an actual issue in Waterline.

Please let me know what you think

Cheers mate

[2015-04-28 09:35] dmarcelino commented on #978
@sahanDissanayake,

[code]

is not valid javascript, the keys have to be unique.

I believe you need something that doesn't exist yet: `AND`, check #648.

[2015-04-28 09:40] sahanDissanayake commented on #978
ahh,, that looks better to have that in place

[2015-04-28 09:48] sahanDissanayake commented on #978
Alright, Im going hard on some raw sql queries
[code]

[2015-04-28 10:55] dmarcelino commented on #975
I don't have a solid proposal, but I have been thinking about this last night and maybe there is a way to avoid that additional `find`... @devinivy, in the other thread you said:

What if we instead we did:
1. When an id is specified on a nested record passed to `Collection#update`, update those nested records.
2. Remove **associations with the parent record which are not in the values supplied in

[2015-04-28 12:53] #978 closed

[2015-04-28 14:50] dmarcelino commented on #867
This definitely looks wrong...
[code]

According to @stensrud:

So I think we can safely remove the offending lines of code and add a test to prevent regressions.

[2015-04-28 15:13] stensrud commented on #867
Yes, my sad contribution can definitely be removed. I do still, however, believe the validation of non-required values has some problems (I submitted this code for a reason).

[2015-04-28 15:14] dmarcelino commented on #867
Worry not, we've all been there! :smiley:

We should add a few tests to cover all possible cases and make sure this gets fixed and remains fixed.

[2015-04-28 17:33] dmarcelino commented on #867
Issued #982 which should fix this, at least the tests pass: 1bbba8f7148b7c9506454545944c77463743f69a! :smiley:

[2015-04-28 21:06] dmarcelino commented on #767
I'm not sure if this is particular to `required` I think waterline/anchor just go through all the validation rules for each attribute. Fore example:
[code]

yields:
[code]

I can't say I feel particularly strong about stopping immediately or continuing...

[2015-04-28 21:12] dmarcelino commented on #803
@tobalsgithub, are you still experiencing this? Have you found a solution? Thanks

[2015-04-28 21:14] dmarcelino commented on #830
Hi @nozer, have you found a solution for this? Should we move this to [sails-postgresql](https://github.com/balderdashy/sails-postgresql)

[2015-04-28 21:24] dmarcelino commented on #292
See also #965 which is the approaches the API differences from the `.update()` side.

[2015-04-28 21:28] dmarcelino commented on #251
I feel a bit apprehensive in adding too much stuff to https://github.com/balderdashy/waterline/milestones/0.11 as the list is getting longer and not many of those issues are getting fixed... if someone volunteers to implement this then yes, I think we can safely add it to 0.11.

[2015-04-28 21:33] dmarcelino commented on #916
Hi @zeluis9, from what I can make of https://github.com/balderdashy/waterline-docs/blob/master/models.md#autoincrement:

This will only be responsible for signalling the adapter to mark the column as auto-incrementing in the schema. Was that your expectation? Did that not happen?

[2015-04-28 21:38] dmarcelino commented on #674
This is probably fixed by PR #972, please reopen if that's not the case. Thanks!

[2015-04-28 21:38] #674 closed

[2015-04-28 21:50] nozer commented on #830
Hi

I have wrote some scripts in config/bootstrap.js file to get around the problem. Please move.

Here is the workaround

[code]

[2015-04-28 22:54] dmarcelino commented on #830
Thanks

[2015-04-28 22:54] #830 closed

[2015-04-28 23:05] dmarcelino commented on #835
For reference, there is also a big discussion about date/time formates and handling in balderdashy/sails-postgresql#153.

[2015-04-28 23:22] dmarcelino commented on #532
@mphasize, @anasyb, I like this. :+1:

Have you thought about how to actually request `find()` to only provide the fkeys? Something like:
[code]
Comes to mind//. I'm not a 100% sure if this won't need changes or additions in the adapter API to make it more performant.

[2015-04-28 23:27] dmarcelino commented on #836
Closing this as unresponsive, please reopen if you feel otherwise of if there are any updates. Thanks

[2015-04-28 23:27] #836 closed

[2015-04-28 23:31] dmarcelino commented on #438
Closing this as unresponsive, please reopen anytime if you feel otherwise.

[2015-04-28 23:31] #438 closed

[2015-04-28 23:33] dmarcelino commented on #439
Closing this as unresponsive, please reopen anytime if you feel otherwise. Thanks!

[2015-04-28 23:33] #439 closed

[2015-04-28 23:35] dmarcelino commented on #407
Closing this as duplicate of #694 which has a few suggestions on how to fix this. Thanks!

[2015-04-28 23:35] #407 closed

[2015-04-28 23:43] dmarcelino commented on #654
Guys, can you check @devinivy's answer in https://github.com/balderdashy/waterline/issues/964#issuecomment-95626676:

I think that explains what's going on.

In #975 there is an ongoing discussion on what can be done to fix this. Please continue the discussion there. If you feel the issues are different please reopen this! Thanks.

[2015-04-28 23:43] #654 closed

[2015-04-28 23:45] dmarcelino commented on #646
I'm convinced that https://github.com/balderdashy/waterline/issues/964#issuecomment-95626676 holds the answer to this issue. There is an ongoing discussion on #975 about how to mitigate/fix this. Please continue the discussion there. If you feel these are 2 different issues, please reopen. Thanks!

[2015-04-28 23:47] dmarcelino commented on #794
Closing this as it's an adapter issue and should be dealt in the appropriate adapter project. Please reopen if you feel otherwise. Thanks!

[2015-04-28 23:47] #794 closed

[2015-04-28 23:54] dmarcelino commented on #964
For reference, there is an ongoing discussion on #975 regarding fixing this issue.

[2015-04-29 02:42] devinivy commented on #646
@dmarcelino I'm going to reopen this and self-assign, since I think it's a different issue related specifically to the usage of `Model#save` and not `Collection#update` in general.  Also, a fair amount of snooping around code has already been done, which is great!  Keying in on,

[2015-04-29 02:46] #929 closed

[2015-04-29 10:11] tuoxie007 commented on #73
+1

[2015-04-29 10:13] dmarcelino commented on #755
It's probably a good idea to look at [sails-mysql-transactions](https://github.com/postmanlabs/sails-mysql-transactions#add-transactionid-column-to-all-models) and [knex](http://knexjs.org/#Builder-transacting) when building our own API for transactions, we shouldn't reinvent the wheel.

And this will likely be supported by adapters through a new API... `Transactable`?

[2015-04-29 10:31] dmarcelino commented on #73
For those that may not be aware waterline supports `select` in the form of:
[code]

Docs: https://github.com/balderdashy/waterline-docs/blob/master/query-language.md#select

[2015-04-29 10:51] dmarcelino commented on #646
That's cool, I'm glad you picked it up.

[2015-04-29 11:31] dmarcelino commented on #925
@devinivy, @particlebanana, I've made a PR with the cross adapter tests: balderdashy/waterline-adapter-tests#57, please.

[2015-04-29 12:16] tuoxie007 commented on #73
cool!

发自我的 iPhone

[2015-04-29 12:22] dmarcelino commented on #477
Closing this as unresponsive, please feel free to reopen at any time!

[2015-04-29 12:22] #477 closed

[2015-04-29 14:49] tobalsgithub commented on #803
@dmarcelino, we implemented a totally different code flow to get around this, doing the validation before updating the record. It's not as streamlined as we would like, since it's not just built into the Model, but it was the only thing we got to work.

I haven't tried since updating to sails version 0.11.

[2015-04-29 14:59] devinivy commented on #803
I wonder if this is another victim of nested updates.  I expect a combination of #646 and https://github.com/balderdashy/waterline/issues/964#issuecomment-95626676.

[2015-04-29 17:14] leejt489 commented on #885
@particlebanana This is all very interesting.  I've been watching Waterline2 and noticed that not a whole lot was going on with it.

Does Waterline have its own Roadmap like Sails does?  I can't find anything on Trello, and the ROADMAP.md on GitHub is empty.  Something like that would be great to let users know what may be coming soon.  I read @mikermcneil 's slides on Waterline2 and it sounded pr

[2015-04-29 17:23] anasyb commented on #532
**I definitely vote for this. This will solve multiple use cases.**
Traversing relationships is a pain at the moment.. populating the whole record just to get the PK of a relationship is too much. Not to mention the freaky performance issue https://github.com/balderdashy/waterline/issues/944 that I never got the chance to look into. I had to access the join collections directly at multiple occasio

[2015-04-29 17:38] dmarcelino commented on #885
@leejt489, we are not currently maintaining a roadmap but we have been using [github milestones](https://github.com/balderdashy/waterline/milestones) so you can easily see what's coming next:
1. [0.10.x](https://github.com/balderdashy/waterline/milestones/0.10.x)
2. [0.11](https://github.com/balderdashy/waterline/milestones/0.11)
3. [WL_Next](https://github.com/balderdashy/waterline/milestones/WL_

[2015-04-29 17:44] dmarcelino commented on #532
@anasyb, great point regarding skipping the first notation in favor of `select`/`pick` which I agree with. Lets stick with the below if no one disagrees:
[code]

[2015-04-29 17:53] leejt489 commented on #885
@dmarcelino cool thanks.  That is helpful.  I still think a periodic blog would be cool, to help consolidate some of the design philosophy and current thinking of the leadership team.  Ember.js has this, and I've found it very valuable for not just planning my app, but understanding the thinking behind the instruction/docs.  Don't want to hijack this thread though!  I may open a separate issue...

[2015-04-29 17:53] devinivy commented on #532
I like this.  I'd just like to add, it'd be nice to see adapters dealing with this in an efficient way.  For example, sequel-interfaced adapters could get away with one join in many-to-many relationships rather than two.  Any suggestions how to introduce a shim for this feature within waterline and simultaneously allow adapters to provide their own performant solutions?

[2015-04-29 18:01] dmarcelino commented on #532
Totally agree! I think this should be done in the same manner as `.populate()` / `adapter.join()` works:

* If the adapter doesn't provide a custom `.joinKeys()` (or whatever) waterline core will provide the results, probably using some subset logic of the existing `.populate`;
* If the adapter implements `.joinKeys()` waterline will call it.

[2015-04-29 18:50] devinivy commented on #532
Okeedokes, sounds good!

[2015-04-29 19:11] mphasize commented on #532
Couldn't agree more and I'm also voting for the `.populateKeys()` style api. :+1:

[2015-04-29 19:31] dmarcelino commented on #975
See also https://github.com/balderdashy/waterline/issues/751#issue-50808660, judging from the `beforeValidate` calls nested updates seem to be behaving awkwardly...

[2015-04-29 23:47] Tenkir commented on #308
The only issue I've found with this is it does not work with more than one model. So if you want to find multiple instances you have to hack around.

[2015-04-30 01:16] devinivy commented on #909
That's can be seen here: https://github.com/balderdashy/waterline/blob/7aa74cb8fd61407c2bc6391cab7db81932af4256/lib/waterline/core/schema.js#L126-L129

That said, I _have_ had some luck implementing UUIDs using `autoIncrement` on the sails-dynamodb adapter.  I suppose that may be because of the restricted way I'm using the adapter.  We should look into it.

[2015-04-30 02:04] devinivy commented on #646
The test~~s~~ around reduceAssociations ([here](https://github.com/balderdashy/waterline/blob/master/test/unit/utils/reduceAssociations.js)) is _something_, but that utility just needs much more testing.  To get a quick idea, I implemented @mnaughto's suggestion on one of my own branches.  It seems kosher to me and passes all the waterline tests!  Here's the PR: https://github.com/devinivy/waterli

[2015-04-30 02:18] devinivy commented on #673
Any luck with this?  Would be nice to see this resolved.

[2015-04-30 02:30] devinivy commented on #412
Any word on this?  I wonder what happens when creating an empty object in general.

[2015-04-30 09:43] dmarcelino commented on #412
I think we should start by creating a test in [create.nested.js](https://github.com/balderdashy/waterline-adapter-tests/blob/master/interfaces/associations/manyToMany/create.nested.js). That would give us an idea if this is still an issue and if waterline core or some adapters need fixing.

[2015-04-30 09:47] #867 closed

[2015-04-30 09:55] dmarcelino commented on #646
PR devinivy#2 looks alright.

Regarding the test, if I understand correctly we would want to check if a given record was updated or not, right? A way to check that may be to use some sort of spy in the `beforeValidate` (inspired by issue https://github.com/balderdashy/waterline/issues/751#issue-50808660), that could tell if a given record was updated or not. Alternatively we could also mock an ada

[2015-04-30 10:07] dmarcelino commented on #931
Regarding `.createEach`, @brandonsimpson has commented the following in https://github.com/balderdashy/waterline/pull/980#issuecomment-97597314:

[2015-04-30 11:01] devinivy commented on #646
All good thoughts.  As for a unit test of this script, it just has to make sure that nested belongs-to models are reduced to their primary key value when possible.  That's all that reduce associations does.  If the record is not reduced to its primary key, then it is bound to be re-updated and saved during nested update and/or related processes.  It might even try to be recreated or something craz

[2015-04-30 12:07] aato commented on #308
+1

[2015-04-30 12:33] Globegitter commented on #931
@dmarcelino I agree with the comment - I have also been thinking a bit more about the whole `find/findOrCreate` as well as `update/updateOrCreate` (`findAndModify` as I called it).

Maybe it would make sense to minimize the public API by adding options to the `update` or `find` command.

In my opinion both options have pros and cons - less functions means the public API is less cluttered but on th

[2015-04-30 17:17] Zaggen opened #983 "Make .exec() return promise when no callback is provided. (To be used with generators/node-fibers async workflow)"
When using promises in waterline models is necessary to call **then** to execute the query, which is perfect, but if one is using synchronous-like workflow by using generators or a library like [asyncawait](https://github.com/yortus/asyncawait) or [co](https://github.com/tj/co) or even [ES7 async/await](https://github.com/lukehoban/ecmascript-asyncawait) in the future, calling **.then** sounds con

[2015-05-01 01:34] albertkim commented on #308
Indeed, I'm having to use async to map the fields I want together, but it is incredibly inelegant. +1 from me.

[2015-05-01 01:36] Tenkir commented on #308
Just use dinana's solution. It works perfectly

[2015-05-01 02:16] BrighTide commented on #880
Not sure if this is related, but I'm streaming a large json file of users into a Cassandra database through our sails api, and after around 25,000 records the node process caps out at 1.45gb of memory and the whole thing slows to a crawl. The main logic is:

    getStream().pipe(es.mapSync(function (data) {
        if(inserted > 20000){
            stream.emit("end");
        }
        pause();

[2015-05-01 02:22] tjwebb commented on #880
Have you tested adapters besides cassandra?

[2015-05-01 02:22] BrighTide commented on #880
No, doing that now

[2015-05-01 02:23] tjwebb commented on #880
Cool let us know how it turns out.

Ever since node 0.12 we've seen a lot more reports of memory issues. Because node 0.12 seems to use more ram anyway (for reasons I don't quite understand), it's been difficult to distinguish so far between possible issues in sails/waterline vs. node

[2015-05-01 03:11] BrighTide commented on #880
Okay, so the the local disk gives out after around 900 inserts with:

    function strWrapper(err, written) {
                ^
    Error: UNKNOWN, unknown error 'C:\...\.tmp\localDiskDb.db'

Probs just can't take the blast of writes. But the couch adapter get to 20,000 inserts fine, just hovering at 220mb -200bm. After the process finishes it doesn't give it back, but that's likely node's problem

[2015-05-01 03:15] tjwebb commented on #880
Yea the sails-disk adapter is pretty terrible in terms of performance. It's really just designed for development.

Looks like you've cornered the cassandra adapter as the likely culprit. If you don't mind, file an issue in their repository and link it here so we can follow along. Thanks!

[2015-05-01 10:50] dmarcelino commented on #983
Hi @Zaggen, this looks interesting. Tell me, is returning a promise for `.exec()` a best practice or a common thing in a *synchronous-like workflow*? I mean would people using such workflow expect for `.exec()` to return a promise?

I would say this shouldn't be too difficult, the changes should be done in [deferred.js](https://github.com/balderdashy/waterline/blob/master/lib/waterline/query/defer

[2015-05-01 14:18] Zaggen commented on #983
Hi @dmarcelino,  indeed for this to work a promise is needed,  it will only work with one.

[2015-05-01 15:31] devinivy commented on #880
Just chiming in– sails-disk and sails-memory hold all data in memory, so they will always appear to leak.

[2015-05-01 23:27] particlebanana commented on #925
Ok guys #984 solves all of these but two at least in my testing. I recreated the projects in the issues @dmarcelino linked to and they seemed to be solved. All tests are passing with the newer cross adapter tests.

#619 is solved by the update to [waterline-sequel](https://github.com/balderdashy/waterline-sequel/pull/46) and the two open pr's for [sails-mysql](https://github.com/balderdashy/sails-

[2015-05-01 23:57] particlebanana commented on #925
Ok I just submitted https://github.com/balderdashy/waterline/pull/985 that might fix #366

[2015-05-01 23:58] particlebanana commented on #366
Submitted https://github.com/balderdashy/waterline/pull/985 which should be a fix for this but needs a bit of testing.

[2015-05-02 00:44] dmarcelino commented on #925
Impressive work, great turn around, I'm truly impressed by this! :smiley: :clap:

Tomorrow I'll take a look the SQL PRs.

[2015-05-02 12:19] dmarcelino commented on #983
Hey @Zaggen, my question was more in the sense to figure out what people are already using outside waterline/sails. Is there any convention for what that keyword should be?

To me it looks like the solution would be for the CRUD methods to return the promise, such as:
[code]

[2015-05-02 12:29] dmarcelino commented on #925
Here's my outline regarding all the awesome work @particlebanana has done:
* PR #984 looks great! :white_check_mark:
* PR #985, unit tests may need to be revised :warning:
* PR balderdashy/sails-mysql#212 looks good :white_check_mark:
* PR balderdashy/sails-postgresql#158 looks good :white_check_mark:
* PR balderdashy/waterline-adapter-tests#62 not DRY and in its current form can break tests for a

[2015-05-02 14:29] dmarcelino commented on #915
Closing this for now as there is already a discussion about helpers and dynamic finders in #931. Please reopen if you feel otherwise.

[2015-05-02 14:29] #915 closed

[2015-05-02 14:32] dmarcelino commented on #916
Closing this for now, please reopen if you don't think the previous answer fully answers this question.

[2015-05-02 14:32] #916 closed

[2015-05-02 14:37] dmarcelino commented on #366
Hey @particlebanana, I think tests for this feature would be great candidates to be placed in a `features/schemaless` folder and enabled via adapter package.json like `"features": ["schemaless"]`. More about this idea on PR balderdashy/waterline-adapter-tests#64.

[2015-05-02 20:03] mphasize commented on #290
@dmarcelino I think my original issue is already addressed, since waterline/#506 is closed. But your work seems to have uncovered another issue, so I guess even though it might not be a duplicate, this issue could probably be closed.

[2015-05-02 22:48] dmarcelino commented on #290
Thanks @mphasize.

[2015-05-02 22:48] #290 closed

[2015-05-03 01:39] Zaggen commented on #983
@dmarcelino Not quite sure, i don't think there is already a convention for dealing with this workflows and any ORM in js, but i think we should follow the sync conventions used by others frameworks/ORM in any language, like Active Record on Rails, so just as you proposed, that should be the cleanest way to do it, i just thought it could be complex that way, but if it is doable with out breaking m

[2015-05-03 16:29] dmarcelino commented on #970
Closing this as I don't think there is anything to be done on waterline core. Furthermore PR #981 will make it even easier for adapters to extend and validate data types. Please reopen if you find anything that needs change in waterline core.

[2015-05-03 16:29] #970 closed

[2015-05-04 06:51] zieglar opened #987 "Please add more attribute type"
e.g posgres 's float8, beacuse float4 can't store complete latitude and longtide number.

[2015-05-04 08:52] zeluis9 commented on #916
HI there. Sorry for the later answer. My model has only one auto-increment field(integer of course),  and with autoPK set to false. The column with autoIncrement set to true is not being incremented automatically and it's not being fulfilled at all.

[2015-05-04 09:14] dmarcelino commented on #916
Hey @zeluis9, if you restart your waterline/sails instance using `migrate: 'drop'` or `'alter'` (on a development/test db where you can destroy the data) does the relevant MySQL table column become auto-incrementing in the schema?

If not, please raise an issue on the [sails-mysql project](https://github.com/balderdashy/sails-mysql) as this doesn't look like a waterline core issue.

[2015-05-04 09:16] dmarcelino commented on #987
Hi @zieglar, your request is a duplicate of #819 (which has the proposed PR #981) so I'm closing it for now. Please re-open if you don't agree. Thanks.

[2015-05-04 09:16] #987 closed

[2015-05-04 09:18] atiertant opened #988 "Feature Request: add conditions to associations"
hi, i would like to add conditions to associations like this :

    var User = Waterline.Collection.extend({
      identity: 'user',
      connection: 'local-postgresql',
      attributes: {
        firstName: 'string',
        lastName: 'string',
        dog: {
          collection: 'pet',
          via: 'owners',
          conditions: {
            legs: 4
          },
          dominant: true

[2015-05-04 09:23] zeluis9 commented on #916
Hi. I've tried that already. Not working... :s I'll raise an issue on sails-mysql. Thank you!

[2015-05-04 09:28] dmarcelino commented on #988
Hi @atiertant, if understand correctly you want way to predefine populate queries through your models, so a `User.find().populate('dog')` would automatically become:
[code]

Did I get it right?

[2015-05-04 09:38] atiertant commented on #988
@dmarcelino that's it and User.find().populate('dog', {color: 'brown'}) automaticaly becomes :

    User.find().populate('dog', { legs: 4, color: 'brown' })

[2015-05-04 09:40] dmarcelino commented on #988
Sounds good! :+1:

Is the choice of keyword `conditions` based on some other ORM?